a:visited {
  color: inherit;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

h1:not(.site-title):before,
h2:before {
  content: none !important;
}

p:empty {
  display: none;
}

a:focus {
  outline: none;
}

.termandcodtn_wrpr {
  position: relative;
}
.termandcodtn_wrpr .formbtn-wrap {
  margin-right: 0;
  height: 70px;
  width: 370px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid #25A9DE;
  z-index: 0;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 440px) {
  .termandcodtn_wrpr .formbtn-wrap {
    height: 54px;
    width: 250px;
  }
}
.termandcodtn_wrpr .formbtn-wrap [type=submit] {
  background-color: transparent;
  color: #fff;
  z-index: 9;
  border-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 16px;
}
.termandcodtn_wrpr .formbtn-wrap:hover [type=submit] {
  background: transparent;
  color: #000;
}
.termandcodtn_wrpr a.term-business {
  display: inline-block;
  border: none;
  height: auto;
  width: auto;
  font-weight: 300;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.57);
  font-weight: 600;
}
.termandcodtn_wrpr a.privacy-statement {
  display: inline-block;
  border: none;
  height: auto;
  width: auto;
  font-weight: 300;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.57);
  font-weight: 600;
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:not(:checked),
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:not(:checked) + label,
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:not(:checked) + label:before,
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 1px solid #BEC6F4;
  border-radius: 6px;
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:not(:checked) + label:after,
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  line-height: 0.8;
  left: 8px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid #061780;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:checked + label:after {
  opacity: 1;
  transform: rotate(45deg);
}
.termandcodtn_wrpr .condtn_wrpr .chk_box [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.termandcodtn_wrpr .condtn_wrpr p {
  margin-top: 0;
}
.termandcodtn_wrpr.check_terms {
  margin-bottom: 30px;
}

.mort-popup .popup_contnt .is-floating-label input {
  height: 60px;
}
.mort-popup div.error {
  color: red;
  font-size: 14px;
  bottom: -27px;
  position: absolute;
  z-index: 9;
  left: 0;
  opacity: 1 !important;
}
@media (max-width: 575px) {
  .mort-popup div.error {
    top: -25px;
    bottom: auto;
    font-size: 12px;
  }
}

/* menu */
.main-nav ul li {
  display: inline-block;
  position: relative;
  padding-right: 17px;
  padding-left: 17px;
}
.main-nav ul li a {
  display: block;
  padding: 12px 15px;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  position: relative;
  color: #fff;
}
@media (min-width: 1200px) {
  .main-nav ul li ul.sub-menu {
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 250px;
    margin-top: 35px;
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09), 0 0 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
}
.main-nav ul li ul.sub-menu li {
  display: block;
  border-bottom: 1px solid #ccc;
  position: relative;
  border-bottom: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
}
.main-nav ul li ul.sub-menu li:hover {
  background-color: rgba(37, 169, 222, 0.06);
}
.main-nav ul li ul.sub-menu li a {
  color: #061886;
  font-size: 1.4rem;
  padding: 0;
  font-weight: 600;
  padding: 15px 20px;
}
@media (min-width: 1200px) {
  .main-nav ul li:hover ul.sub-menu {
    opacity: 1;
    pointer-events: all;
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .main-nav ul li:hover ul.sub-menu {
    opacity: 1;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .main-nav ul li:hover a {
    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
  }
}
.main-nav ul li i {
  width: auto;
  height: auto;
  right: -5px !important;
  top: 12px;
  right: -32px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .main-nav ul li i {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all ease 0.5s;
  }
}
.main-nav ul li i:before {
  content: url(../../assets/images/down-arrow.svg);
}
@media (min-width: 1200px) {
  .main-nav ul li:hover i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
}
.main-nav ul li.mob_class {
  text-align: center;
}
.main-nav ul li.mob_class a {
  color: #000;
}
.main-nav ul li.mob_class a.phone-num {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  height: 40px;
  padding: 10px 15px;
  line-height: initial;
  font-size: 16px;
  border: 1px solid #25A9DE;
  z-index: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.main-nav ul li.mob_class a.phone-num img {
  filter: invert(1);
}
.main-nav ul li.mob_class a.phone-num:hover {
  background-color: #25A9DE;
  color: #fff;
}
.main-nav ul li.mob_class a.phone-callnow {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  height: 40px;
  padding: 10px 15px;
  line-height: initial;
  font-size: 16px;
  border: 1px solid #25A9DE;
  z-index: 0;
  cursor: pointer;
}
.main-nav ul li.mob_class.socialmedia {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .main-nav ul li.mob_class.socialmedia {
    display: none;
  }
}
.main-nav ul li.mob_class.socialmedia a {
  padding-right: 15px;
  display: inline-block;
}
.main-nav ul li.mob_class.socialmedia a:hover {
  color: #25a9de;
}
@media (max-width: 1199.98px) {
  .main-nav ul li:nth-child(6) {
    margin-top: 0;
  }
}
@media (max-width: 1199.98px) {
  .main-nav ul li:nth-child(6) a {
    margin-bottom: 0 !important;
    line-height: 30px;
    text-align: left;
    height: 30px;
    border: none;
  }
}
@media (max-width: 1199.98px) {
  .main-nav ul li:nth-child(6) a:last-child:hover {
    border: none;
    background: transparent;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu {
    display: block;
    margin-bottom: 30px;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li a {
    font-size: 18px;
    display: block;
    padding: 10px;
    padding-right: 40px;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li ul.sub-menu li {
    padding: 11px 30px;
    border-bottom: 1px solid #fff;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li ul.sub-menu li a {
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li i {
    filter: invert(1);
    position: absolute;
    left: auto;
    transition-delay: unset !important;
    top: 3px;
    right: 0px !important;
    width: 40px;
    height: 40px;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .main-nav #menu-main-menu li i:before {
    content: url(../../assets/images/down-arrow.svg);
    filter: invert(0);
  }
}
.main-nav #menu-main-menu li i:after {
  content: none;
}

/* 404 page style */
.page-not-found {
  padding: 50px 0;
}
.page-not-found .empty-page-bg {
  max-width: 40%;
  margin: 0 auto;
}
.page-not-found .message-box {
  text-align: center;
}
.page-not-found .message-box h1 {
  font-size: 100px;
  font-weight: 800;
  color: #3b3b39;
  letter-spacing: 10px;
}
.page-not-found .message-box h1:before {
  content: none;
}
.page-not-found .message-box p {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}
.page-not-found .action-link-wrap a.link-button-home {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
  color: #000;
  min-width: 150px;
  margin: 0 10px;
}
.page-not-found .action-link-wrap a.link-button-home:hover {
  background: #25a9de;
  border: 1px solid #25a9de;
  color: #fff !important;
}
.page-not-found .action-link-wrap .link-back-button {
  background: #25a9de;
  color: #fff !important;
  border: 1px solid #25a9de !important;
  padding: 15px 20px;
  min-width: 150px;
  border-radius: 3px;
  font-size: 14px;
}
.page-not-found .action-link-wrap .link-back-button:hover {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.pension_listwrap {
  display: inline-block;
}
.pension_listwrap .pension_blk {
  display: inline-block;
  width: calc(100% / 2 - 50px);
  margin: 25px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .pension_listwrap .pension_blk {
    width: 100%;
    margin: 0;
    margin-bottom: 20px !important;
  }
}

.inner_banner_contnt h1:before {
  content: none;
}

.blog_btn-wrap {
  display: block;
  width: 100%;
  float: left;
}
.blog_btn-wrap a {
  margin: 0 auto;
}

.latest-blog .blog_section .blog_wrpr > a.blog_blk img {
  height: 150px !important;
  border-radius: 7px;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blog_section .blog_wrpr > a.blog_blk {
  margin-right: 0 !important;
  margin: 20px !important;
}
@media (max-width: 991px) {
  .blog_section .blog_wrpr > a.blog_blk {
    margin: 10px !important;
  }
}
@media (max-width: 991px) {
  .blog_section .blog_wrpr > a.blog_blk p.blog_title {
    display: block;
  }
}
.blog_section .filter_wrpr {
  padding: 0 35px;
}
@media (max-width: 991px) {
  .blog_section .filter_wrpr {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .blog_section .filter_wrpr {
    padding: 0 20px;
  }
}

/* tab */
.tabgroup .panel {
  display: block;
}

.faq-tab-holder.active h4 {
  color: #061886;
}
.faq-tab-holder.active:after {
  content: "";
  background: #25A9DE;
  width: 60%;
  height: 4px;
  bottom: 0;
  right: 20%;
  position: absolute;
  opacity: 1;
}

label#faqname-error {
  color: red;
  padding: 10px;
  font-size: 14px;
}

/* About page */
.team_member_bio {
  display: none;
}

.teammodal .team_member_bio {
  display: block;
  width: 100%;
  float: left;
  margin-top: 50px;
}
.teammodal .dp_wrpr {
  display: block !important;
}
.teammodal .membr_contnt {
  display: inline-block;
  vertical-align: middle;
}
.teammodal .readbio {
  display: none;
}

.contact-nav .left-box h3 a {
  cursor: pointer;
}
.contact-nav .left-box h3 a:hover {
  color: #25a9de;
}

.contactbtn-wrap {
  height: 65px;
  font-weight: 600;
  border: 1px solid #25A9DE;
  border-radius: 8px;
  max-width: 100%;
}
.contactbtn-wrap input {
  background: transparent;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 17px;
}
.contactbtn-wrap:hover {
  color: #000;
}
.contactbtn-wrap:hover input {
  color: #000;
  background: transparent;
}

div#myElem {
  position: fixed;
  background: #25a9de;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  z-index: 999;
  top: 65px;
  width: 100%;
  left: 0;
  color: #fff;
}
div#myElem p {
  font-size: 18px;
  font-weight: 700;
}

.datebirth {
  width: calc(100% / 3 - 15px);
  margin-right: 25px;
}
.datebirth:last-child {
  margin-right: 0;
}
@media (max-width: 575px) {
  .datebirth {
    width: 100%;
    margin-right: 0;
  }
}

.second-persion .wrap-fill {
  background: #25a9de;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.second-persion .wrap-fill h4 {
  color: #fff;
  font-size: 15px;
}

/* Thank you page */
.thanku-wrap {
  padding: 100px 0;
  text-align: center;
}
.thanku-wrap img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.thanku-wrap h3 {
  font-size: 30px;
  padding: 30px 0;
}
.thanku-wrap p {
  font-size: 18px;
  font-weight: 600;
}
.thanku-wrap .mpc-button {
  margin-top: 50px;
}
.thanku-wrap .mpc-button a.anotherquote {
  display: inline-block;
  background: #25a9de;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  margin-right: 20px;
}
.thanku-wrap .mpc-button a.anotherquote:hover {
  background: #2d3988;
}
.thanku-wrap .mpc-button a.backtohome {
  display: inline-block;
  border: 1px solid #2d3988;
  padding: 14px;
  border-radius: 4px;
  color: #2d3988;
  font-size: 14px;
}
.thanku-wrap .mpc-button a.backtohome:hover {
  border: 1px solid #25a9de;
  color: #25a9de;
}

.mortgages_btn {
  float: right;
  display: inline-block;
  text-align: right;
  width: 100%;
}
.mortgages_btn [type=submit] {
  float: right;
  text-align: center;
  display: block;
  padding: 10px;
  width: 270px;
  height: 63px;
  border: 1px solid #25A9DE;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
}
.mortgages_btn [type=submit]:hover {
  color: #fff;
  background: #2d3988;
}

/* banner box */
.banner_box h2:before {
  content: none;
}

.banner-ttle h1:before {
  content: none;
}

.protection_box-btn button {
  width: 100%;
  background: #25a9de;
  border: 1px solid #25A9DE;
  height: 70px;
  border-radius: 8px;
}
.protection_box-btn button:hover {
  color: #25A9DE;
}

.latest-blog .blog_section .blog_wrpr > a.blog_blk {
  margin-right: 60px;
}
.latest-blog .blog_section .blog_wrpr > a.blog_blk:nth-child(3n) {
  margin-right: 0px !important;
}
.latest-blog .blog_section .blog_wrpr > a.blog_blk:nth-child(1) {
  margin-left: 0px !important;
}

.teammodal .modal-content-display {
  display: block !important;
}

#qamodal .modal-dialog {
  width: 45%;
  transform: translate(0, 50%);
}
@media (max-width: 1200px) {
  #qamodal .modal-dialog {
    transform: translate(0, 25%) !important;
    width: 50%;
  }
}
@media (max-width: 480px) {
  #qamodal .modal-dialog {
    transform: translate(0, 45%) !important;
    width: 90%;
  }
}
#qamodal .modal-dialog .modal-body .qst_ans_wrap img {
  width: auto;
  height: 80px;
  border-radius: 50%;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  #qamodal .modal-dialog .modal-body .qst_ans_wrap h4 {
    display: block;
    padding-left: 0;
  }
}
#qamodal .modal-dialog .modal-body .qst_ans_wrap .more_content {
  display: block !important;
}
#qamodal .modal-dialog .modal-body .qst_ans_wrap .short_cont {
  display: none;
}

.pension-plan-back {
  display: block !important;
  width: 120px;
  text-align: right;
}
@media (max-width: 480px) {
  .pension-plan-back {
    width: 160px;
  }
}

/* Faq tab responsive styles */
@media (max-width: 480px) {
  .faq_tabs .tabgroup .tab {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .faq_tabs .tabgroup .panel {
    max-height: 100%;
    overflow: hidden;
    border: none;
  }
}

.banner_contnt .banner-slider .banner_box .selectric-items {
  height: 200px !important;
}

.socil_wrpr a {
  margin-left: 35px;
  display: inline-block;
  min-width: 23px;
  text-align: center;
  margin-right: 0 !important;
}
.socil_wrpr a:hover {
  transform: scale(1.5);
}

.termandcodtn_wrpr .condtn_wrpr {
  justify-content: start !important;
}

@media (max-width: 480px) {
  .mortgage-protection-banner {
    height: 700px;
  }
}
/* Menu fixed while menu click */
.show-menu {
  position: fixed;
}

@media (max-width: 991px) {
  .insure_life_wrpr .inusre_cntnt .insure_inner_blk {
    justify-content: left;
  }
}

@media (max-width: 767px) {
  .mortgages_footbtn {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .mortgages_footbtn div#recaptcha-element {
    display: inline-block;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .mortgages_footbtn div#recaptcha-element {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}
@media (max-width: 767px) {
  .mortgages_footbtn .mortgages_btn {
    float: none;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .mortgages_footbtn .mortgages_btn [type=submit] {
    float: none;
    text-align: center;
    display: block;
    margin: 10px auto;
  }
}
@media (max-width: 400px) {
  .mortgages_footbtn .mortgages_btn [type=submit] {
    margin: 0;
    width: 240px;
    height: 55px;
  }
}

.selectric-open {
  z-index: 999 !important;
}

.modal-open .modal#exampleModal .modal-dialog .modal-header .close {
  margin: 15px;
}
.modal-open .modal#exampleModal .modal-dialog .modal-header .close:before {
  top: 8px;
  left: 14px;
}
.modal-open .modal#exampleModal .modal-dialog .modal-header .close:after {
  top: 8px;
  left: 14px;
}

.blog_wrap_img {
  height: 180px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 6px;
}
.blog_wrap_img img {
  margin-bottom: 0;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.single_img-banner {
  height: 450px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.single_img-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-box .recaptch_wrap {
  margin-bottom: 30px;
}

.find-my-pension_wrap {
  padding: 0 !important;
}
.find-my-pension_wrap ul {
  margin-bottom: 30px;
}
.find-my-pension_wrap ul li {
  list-style: disc;
}
.find-my-pension_wrap h1 {
  font-size: 4rem !important;
  color: #061886 !important;
  font-weight: 600 !important;
  font-family: inherit !important;
}

.investment_n_wrap h3 {
  margin-bottom: 20px !important;
}
.investment_n_wrap .know_you_content {
  margin-bottom: 50px;
  font-size: 17px;
}

section.investment_plan_section {
  padding: 0 0 100px 0;
}
section.investment_plan_section .mpi_wrpr {
  padding: 0 50px;
}
section.investment_plan_section .mpi_wrpr h4 {
  margin-bottom: 20px;
}

.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk {
  padding: 20px;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk img {
  width: 100%;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt a {
  color: #25a9de;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-right: 20px;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt a:hover {
  color: #062c92;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt a:hover:after {
  border-top: 8px solid #062c92;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #25a9de;
  clear: both;
  transform: rotate(273deg);
  top: 7px;
  right: 0;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt:hover {
  color: #062c92;
}
.team .team_wrpr .grp_members_wrpr .membrs_wrpr .members_blk .membr_contnt p {
  min-height: 70px;
}

.management_single {
  text-align: left;
  padding: 50px 0;
  background: #f3f7fb;
}
.management_single .management_single_img-wrap {
  width: 215px;
  overflow: hidden;
  border-radius: 6px;
  display: inline-block;
  vertical-align: top;
  height: 250px;
}
@media (max-width: 767px) {
  .management_single .management_single_img-wrap {
    display: block;
    margin-bottom: 30px;
  }
}
.management_single .management_single_img-wrap img {
  object-fit: cover;
  height: 100%;
}
.management_single .management_single_content-wrap {
  margin: 30px 0;
  width: calc(100% - 30px);
}
.management_single .management_single_content-wrap h3 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
.management_single .management_single_content-wrap p {
  font-size: 17px;
  color: #099bd6;
  margin-bottom: 50px;
  font-weight: 500;
}
.management_single .management_single_content-wrap .description_box {
  margin-bottom: 30px;
}
.management_single .management_single_content-wrap .description_box p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.57);
  line-height: 27px;
}
.management_single .management_single_content-wrap .description_box ul {
  padding-left: 0;
  column-count: 3;
}
@media (max-width: 767px) {
  .management_single .management_single_content-wrap .description_box ul {
    column-count: 1;
  }
}
.management_single .management_single_content-wrap .description_box ul li {
  list-style: disc;
  display: block;
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  color: #081774;
  font-weight: 500;
  margin-bottom: 15px;
}
.management_single .management_single_content-wrap .description_box ul li:before {
  content: url(http://demo.webandcrafts.com/wp-financial-life/wp-content/uploads/2020/02/mpi_bullet.svg);
  position: absolute;
  left: 0;
  width: 20px;
  height: 25px;
  top: 0;
}
.management_single .management_single_content-wrap .description_box h5 {
  margin-bottom: 50px;
  color: #000;
  font-weight: 700;
  position: relative;
}
.management_single .management_single_content-wrap .description_box h5:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 4px;
  background-color: #25A9DE;
  bottom: -20px;
  left: 0;
}
.management_single .contact_form-management {
  margin: 0 auto;
  background-color: #F3F7FB;
}
.management_single .contact_form-management .contact-box.mort-popup {
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px !important;
  max-width: 600px;
  background: transparent;
}
.management_single .contact_form-management .contact-box.mort-popup .popup_contnt {
  margin: 0;
  background: #fff;
  padding: 40px;
  box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);
  border-radius: 6px;
}
.management_single .contact_form-management .contact-box.mort-popup .popup_contnt h3 {
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.management_single .contact_form-management .is-floating-label.textarea {
  height: 150px;
}
.management_single h1 {
  position: relative;
  margin-bottom: 50px;
  padding: 0;
  border-radius: 4px;
  font-size: 3.2rem;
  text-transform: uppercase;
  display: inline-block;
}
.management_single h1:after {
  position: absolute;
  content: "";
  width: 32px;
  height: 4px;
  background-color: #25A9DE;
  top: -30px;
  left: 0;
}
.management_single .breadcrumb_management {
  display: inline-block;
  float: right;
}
.management_single .breadcrumb_management ol.breadcrumb {
  background: transparent;
  margin-bottom: 0;
}
@media (max-width: 540px) {
  .management_single .breadcrumb_management {
    display: none;
  }
}
.management_single .team_wrpr {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1199px) {
  .management_single .team_wrpr {
    display: block;
  }
}
.management_single .team_wrpr .grp_members_wrpr {
  max-width: 63%;
  flex: 0 0 63%;
}
@media (max-width: 1199px) {
  .management_single .team_wrpr .grp_members_wrpr {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.management_single .team_wrpr .grp_members_fom {
  max-width: 37%;
  flex: 0 0 37%;
}
@media (max-width: 1199px) {
  .management_single .team_wrpr .grp_members_fom {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.advisors_details {
  margin: 0 auto;
  background: transparent;
  padding: 0;
  display: inline-block;
  padding-left: 0;
  width: calc(100% - 275px);
  margin-left: 20px;
}
@media (max-width: 767px) {
  .advisors_details {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
.advisors_details h4 {
  margin-bottom: 10px;
  text-align: left;
}
.advisors_details ul {
  padding-left: 0;
}
.advisors_details ul li {
  font-size: 16px;
  text-align: left;
}
.advisors_details ul li a {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 130px);
  vertical-align: middle;
}
.advisors_details ul li a:hover {
  color: #0073aa;
}
.advisors_details ul li span {
  min-width: 100px;
  display: inline-block;
  color: #25a9de;
  position: relative;
}
.advisors_details ul li span:after {
  content: "-";
  position: absolute;
  right: 10px;
  font-weight: 500;
}
.advisors_details .contact_btn_wrap {
  border: 1px solid #f3f7fb;
  min-height: 50px;
  border-radius: 50px;
  min-width: 150px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  background: #25a9de;
  color: #fff;
  margin: 10px 0;
  padding: 0 15px;
  font-size: 15px;
}
.advisors_details .contact_btn_wrap:hover {
  background: transparent;
  color: #000;
  border-color: #25a9de;
}
.advisors_details p {
  color: #707B96;
  font-weight: 500;
  margin-bottom: 20px;
}

.pension_service .fl-container .types_pension .pension_blk.active1 {
  overflow: auto;
}

.pension_wrpr {
  padding: 75px 0;
  display: flex;
  align-items: self-start;
}
@media (max-width: 991px) {
  .pension_wrpr {
    display: block;
  }
}
.pension_wrpr .pension_wrap-content {
  max-width: 50%;
  flex: 0 0 50%;
  padding-left: 50px;
}
@media (max-width: 991px) {
  .pension_wrpr .pension_wrap-content {
    max-width: 100%;
    flex: 0 0 100%;
    padding-left: 0;
  }
}
.pension_wrpr .pension_wrap-content h1 {
  margin-bottom: 30px;
  position: relative;
  padding-top: 30px;
}
.pension_wrpr .pension_wrap-content h1:after {
  position: absolute;
  content: "";
  width: 32px;
  height: 4px;
  background-color: #25A9DE;
  top: 0;
  left: 0;
}
.pension_wrpr .pension_wrap-content p {
  font-size: 17px;
  line-height: 30px;
}
.pension_wrpr .pension_wrap-img {
  max-width: 50%;
  flex: 0 0 50%;
  padding-right: 30px;
}
@media (max-width: 991px) {
  .pension_wrpr .pension_wrap-img {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.form-wrap {
  padding: 100px 0;
  background: #f5f9fb;
}
.form-wrap .pension_form-wrap {
  background: #fff;
  padding: 40px;
  border-radius: 9px;
  box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);
  max-width: 500px;
  margin: 0 auto;
}
.form-wrap .pension_form-wrap input[type=email],
.form-wrap .pension_form-wrap input[type=text],
.form-wrap .pension_form-wrap input[type=tel] {
  position: relative;
  height: 45px;
  border: 1px solid #BEC6F4;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  margin-top: 5px;
  font-size: 16px;
}
.form-wrap .pension_form-wrap [type=submit] {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  border: 1px solid #25A9DE;
  border-radius: 8px;
  max-width: 100%;
  background-color: #25A9DE;
  height: 60px;
  margin-top: 20px;
  font-size: 18px;
}
.form-wrap .pension_form-wrap [type=submit]:hover {
  background-color: #148ab9;
}
.form-wrap .pension_form-wrap textarea {
  height: 100px;
  border: 1px solid #BEC6F4;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 10px;
}
.form-wrap .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  display: none !important;
}
.form-wrap h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
}

.find-my-pension-holder {
  background: #fff;
}

.privacy_wrpr .privcy {
  padding: 0;
}
.privacy_wrpr .privcy ul {
  padding-left: 50px;
  margin: 30px 0;
}
.privacy_wrpr .privcy ul li {
  list-style: disc;
}
.privacy_wrpr .privcy strong {
  color: #2d3988;
}

@media (min-width: 991px) {
  footer .ftr_nav .nav_blks:nth-child(1) {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@media (min-width: 991px) {
  footer .ftr_nav .nav_blks:nth-child(2) {
    max-width: 30%;
    flex: 0 0 30%;
  }
}
@media (min-width: 991px) {
  footer .ftr_nav .nav_blks:nth-child(3) {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@media (min-width: 991px) {
  footer .ftr_nav .nav_blks:nth-child(4) {
    max-width: 20%;
    flex: 0 0 20%;
  }
}
footer .ftr_nav .nav_blks ul li {
  padding: 5px 0;
}

.pension_bg {
  background: #f3f7fb;
}
.pension_bg .contactbtn-wrap {
  max-width: 100%;
  display: inline-block;
  margin: 50px 10px 50px 0;
  text-align: center;
  padding: 20px 50px;
}
@media (max-width: 1200px) {
  .pension_bg .contactbtn-wrap {
    margin: 50px 10px 0px 0;
  }
}
@media (max-width: 480px) {
  .pension_bg .contactbtn-wrap {
    padding: 20px 30px;
  }
}

.mortgage-protection-cover {
  overflow: hidden;
}
.mortgage-protection-cover .cover-slider .cover_item a {
  padding-top: 10px;
  border-radius: 4px;
  color: #061886;
}
.mortgage-protection-cover .cover-slider .cover_item img {
  min-height: 30px;
}
.mortgage-protection-cover .cover-slider .cover_item ul li {
  list-style: disc;
}

.serious-illness-q-s {
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .serious-illness-q-s {
    padding: 100px 0 50px;
  }
}
@media (max-width: 575px) {
  .serious-illness-q-s {
    padding: 100px 0 10px;
  }
}
.serious-illness-q-s .serious-illness_wrap ul {
  padding-left: 0;
}
.serious-illness-q-s .serious-illness_wrap ul li {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.serious-illness-q-s .serious-illness_wrap ul li h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.serious-illness-q-s .serious-illness_wrap ul li p {
  font-size: 17px;
  line-height: 24px;
}

.investment_wrap .mortgage-protection-banner.testimonial_banner {
  height: 250px;
}
.investment_wrap .mortgage-protection-banner.testimonial_banner .inner_banner_contnt .banner_data > h1:after {
  top: -15px;
}

.section3_new-wrap {
  background: #f3f7fb;
}
.section3_new-wrap .mpi_contnt_wrpr ul li {
  margin-bottom: 20px !important;
}

.mpi-section .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul li {
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
}
.mpi-section .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul li b:empty {
  display: none !important;
}
.mpi-section .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul li p {
  display: inline-block;
  padding-left: 0;
}
.mpi-section .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul li span {
  position: absolute;
  left: 0;
  top: 15px;
}

.userimg_wrap {
  max-width: 80px;
}

body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1001;
  /* overflow: hidden; */
}

.mortgage-protection-cover #cover1-slider a {
  text-decoration: none;
}
.mortgage-protection-cover #cover1-slider a .cover_item {
  min-height: 225px;
}
@media (max-width: 1599px) {
  .mortgage-protection-cover #cover1-slider a .cover_item {
    min-height: 200px;
  }
}
@media (max-width: 1199px) {
  .mortgage-protection-cover #cover1-slider a .cover_item {
    min-height: 170px;
  }
}
@media (max-width: 768px) {
  .mortgage-protection-cover #cover1-slider a .cover_item {
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .mortgage-protection-cover #cover1-slider a .cover_item {
    min-height: 166px;
  }
}
.mortgage-protection-cover #cover1-slider a .cover_item h4 {
  margin-top: 10px !important;
  text-align: center !important;
}
.mortgage-protection-cover #cover1-slider a .cover_item img {
  display: block;
  margin: 0 auto;
}

.page-id-123 .mpi-section.section-3 {
  padding: 140px 0 70px;
}

.page-id-75 .mpi-section.section-3 .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul {
  padding-top: 25px;
}
.page-id-75 .mpi-section.section-3 .fl-container .mpi_wrpr .mpi_contnt_wrpr.edited_list ul li p {
  display: inline-block;
  padding-left: 0;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  line-height: 30px;
}

.page-id-104 .abt_bnr_wrpr {
  display: none;
}

.single_joint-dual-cover.type_insurance_section.type_insurance_section-inner {
  padding: 100px 0 60px;
}
.single_joint-dual-cover.type_insurance_section.type_insurance_section-inner .fl-container {
  padding: 0 100px;
}
.single_joint-dual-cover.type_insurance_section.type_insurance_section-inner .fl-container .types_life_insurance-data:last-child {
  padding-bottom: 0px;
}

.page-id-42 .single_joint-dual-cover.type_insurance_section .fl-container {
  padding: 0 250px;
}
.page-id-42 .single_joint-dual-cover.type_insurance_section .fl-container a {
  height: 65px !important;
  width: 195px !important;
}
.page-id-42 .mortgage-protection-cover.life-insurance_scroll-box .contactbtn-wrap.slider-button {
  margin: 60px 0 0;
  width: 200px !important;
}
@media (max-width: 991px) {
  .page-id-42 .mortgage-protection-cover.life-insurance_scroll-box .contactbtn-wrap.slider-button {
    height: 50px;
  }
}

.home-section.section-4 .slik_main_wrpr .blue_slik .blue_item.slick-slide a {
  display: inline-flex !important;
  padding: 5px 10px !important;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .main-header.header-smooth .fl-container .head-menu {
    margin-right: 30px !important;
  }

  .mortgage-protection-banner .inner_banner_contnt .banner_data h1 {
    font-size: 3.5rem !important;
  }
}