a:visited {
  color: inherit;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

h1:not(.site-title):before,
h2:before {
  content: none !important;
}

p {
  &:empty {
    display: none;
  }
}

a {
  &:focus {
    outline: none;
  }
}

.termandcodtn_wrpr {
  position: relative;

  .formbtn-wrap {
    margin-right: 0;
    height: 70px;
    width: 370px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid #25A9DE;
    z-index: 0;
    font-weight: 600;
    text-align: right;

    @media (max-width:440px) {
      height: 54px;
      width: 250px;
    }

    [type="submit"] {
      background-color: transparent;
      color: #fff;
      z-index: 9;
      border-color: transparent;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: 16px;

    }

    &:hover {
      [type="submit"] {
        background: transparent;
        color: #000;
      }
    }
  }

  a.term-business {
    display: inline-block;
    border: none;
    height: auto;
    width: auto;
    font-weight: 300;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.57);
    font-weight: 600;
  }

  a.privacy-statement {
    display: inline-block;
    border: none;
    height: auto;
    width: auto;
    font-weight: 300;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.57);
    font-weight: 600;
  }

  .condtn_wrpr {
    .chk_box {

      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }

      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 24px;
          width: 24px;
          background-color: #fff;
          border: 1px solid #BEC6F4;
          border-radius: 6px;
        }

        &:after {
          content: "";
          position: absolute;
          line-height: 0.8;
          left: 8px;
          top: 5px;
          width: 6px;
          height: 13px;
          border: solid #061780;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: rotate(45deg);
      }

      [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
    }

    p {
      margin-top: 0;
    }
  }


  &.check_terms {
    margin-bottom: 30px;
  }

}

.mort-popup {
  .popup_contnt {
    .is-floating-label {
      input {
        height: 60px;
      }
    }
  }

  div.error {
    color: red;
    font-size: 14px;
    bottom: -27px;
    position: absolute;
    z-index: 9;
    left: 0;
    opacity: 1 !important;

    @media (max-width:575px) {
      top: -25px;
      bottom: auto;
      font-size: 12px;
    }
  }

}


/* menu */


.main-nav {
  ul {
    li {
      display: inline-block;
      position: relative;
      padding-right: 17px;
      padding-left: 17px;

      a {
        display: block;
        padding: 12px 15px;
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        position: relative;
        color: #fff;
      }

      ul.sub-menu {
        @media (min-width: 1200px) {
          background: #fff;
          position: absolute;
          margin: 0;
          padding: 0;
          width: 250px;
          margin-top: 35px;
          opacity: 0;
          pointer-events: none;
          transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s;
          -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09), 0 0 20px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09), 0 0 20px 0px rgba(0, 0, 0, 0.19);
          border-radius: 8px;
        }

        li {
          display: block;
          border-bottom: 1px solid #ccc;
          position: relative;
          border-bottom: none;
          transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          padding-right: 10px;
          padding-left: 10px;

          &:hover {
            background-color: rgba(37, 169, 222, 0.06);
          }

          a {
            color: #061886;
            font-size: 1.4rem;
            padding: 0;
            font-weight: 600;
            padding: 15px 20px;
          }
        }
      }

      &:hover {
        ul.sub-menu {
          @media (min-width: 1200px) {
            opacity: 1;
            pointer-events: all;
            margin-top: 0;
          }

          @media (max-width:1199px) {
            opacity: 1;
            position: relative;
          }
        }

        a {
          @media (min-width: 1200px) {
            transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
          }
        }

      }

      i {

        width: auto;
        height: auto;
        right: -5px !important;
        top: 12px;
        right: -32px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        @media (min-width: 1200px) {
          position: absolute;
          right: 0;
          cursor: pointer;
          transition: all ease 0.5s;
        }

        &:before {
          content: url(../../assets/images/down-arrow.svg);
        }
      }

      &:hover {
        i {
          @media (min-width: 1200px) {
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
          }
        }
      }

      &.mob_class {
        text-align: center;

        a {
          color: #000;

          &.phone-num {
            border-radius: 7px;
            -webkit-border-radius: 7px;
            height: 40px;
            padding: 10px 15px;
            line-height: initial;
            font-size: 16px;
            border: 1px solid #25A9DE;
            z-index: 0;
            cursor: pointer;
            margin-bottom: 15px;

            img {
              filter: invert(1);
            }

            &:hover {
              background-color: #25A9DE;
              color: #fff;
            }
          }

          &.phone-callnow {
            border-radius: 7px;
            -webkit-border-radius: 7px;
            height: 40px;
            padding: 10px 15px;
            line-height: initial;
            font-size: 16px;
            border: 1px solid #25A9DE;
            z-index: 0;
            cursor: pointer;
          }
        }

        &.socialmedia {
          @media (min-width: 1200px) {
            display: none;
          }

          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 15px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          a {
            padding-right: 15px;
            display: inline-block;

            &:hover {
              color: #25a9de;
            }
          }
        }
      }

      &:nth-child(6) {
        @media (max-width: 1199.98px) {
          margin-top: 0;
        }

        a {
          @media (max-width: 1199.98px) {
            margin-bottom: 0 !important;
            line-height: 30px;
            text-align: left;
            height: 30px;
            border: none;
          }


          &:last-child {
            &:hover {
              @media (max-width: 1199.98px) {
                border: none;
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  #menu-main-menu {
    @media (max-width:1199px) {
      display: block;
      margin-bottom: 30px;
    }

    li {
      @media (max-width:1199px) {
        width: 100%;
        padding-right: 0;
      }

      a {
        @media (max-width:1199px) {
          font-size: 18px;
          display: block;
          padding: 10px;
          padding-right: 40px;
        }
      }

      ul.sub-menu {
        li {
          @media (max-width:1199px) {
            padding: 11px 30px;
            border-bottom: 1px solid #fff;
          }

          a {
            @media (max-width:1199px) {
              font-size: 1.7rem;
              font-weight: 400;
              padding: 0;
            }
          }
        }
      }

      i {
        @media (max-width:1199px) {
          filter: invert(1);
          position: absolute;
          left: auto;
          transition-delay: unset !important;
          top: 3px;
          right: 0px !important;
          width: 40px;
          height: 40px;
          text-align: center;
        }

        &:before {
          @media (max-width:1199px) {
            content: url(../../assets/images/down-arrow.svg);
            filter: invert(0);
          }
        }

        &:after {
          content: none;
        }
      }
    }
  }


}


/* 404 page style */

.page-not-found {
  padding: 50px 0;

  .empty-page-bg {
    max-width: 40%;
    margin: 0 auto;
  }

  .message-box {
    text-align: center;

    h1 {
      font-size: 100px;
      font-weight: 800;
      color: #3b3b39;
      letter-spacing: 10px;

      &:before {
        content: none;
      }
    }

    p {
      font-size: 30px;
      font-weight: 500;
      color: #000;
      margin-bottom: 30px;
    }
  }

  .action-link-wrap {
    a.link-button-home {
      padding: 15px 20px;
      border: 1px solid;
      border-radius: 3px;
      font-size: 14px;
      color: #000;
      min-width: 150px;
      margin: 0 10px;

      &:hover {
        background: #25a9de;
        border: 1px solid #25a9de;
        color: #fff !important;
      }
    }

    .link-back-button {
      background: #25a9de;
      color: #fff !important;
      border: 1px solid #25a9de !important;
      padding: 15px 20px;
      min-width: 150px;
      border-radius: 3px;
      font-size: 14px;

      &:hover {
        background: #fff !important;
        color: #000 !important;
        border: 1px solid #000 !important;
      }
    }
  }
}


.pension_listwrap {
  display: inline-block;

  .pension_blk {
    display: inline-block;
    width: calc(100% / 2 - 50px);
    margin: 25px;
    vertical-align: top;

    @media (max-width:767px) {
      width: 100%;
      margin: 0;
      margin-bottom: 20px !important;
    }
  }
}


.inner_banner_contnt {
  h1 {
    &:before {
      content: none;
    }
  }
}

.blog_btn-wrap {
  display: block;
  width: 100%;
  float: left;

  a {
    margin: 0 auto;

  }

}
.latest-blog{
  .blog_section{
    .blog_wrpr {
      & > {
        a.blog_blk {
          img{
            height: 150px !important;
            border-radius: 7px;
            overflow: hidden;
            height: 100%;
            object-fit: cover;
            width: 100%;

          }
        }
      }
    }
  }
}

.blog_section {
  .blog_wrpr {
    & > {
      a.blog_blk {
        margin-right: 0 !important;
        margin: 20px !important;
        // img{
        //   height: 150px !important;
        // }

        @media (max-width:991px) {
          margin: 10px !important;
        }

        //        @media (max-width:991px) {
        //          margin-right: 30px;
        //        }
        //
        //        @media (max-width:480px) {
        //          margin-right: 0 !important;
        //        }

        //        &:nth-child(3n) {
        //          margin-right: 0 !important;
        //
        //          @media (max-width:767px) {
        //            margin-right: 30px !important;
        //          }
        //
        //          @media (max-width:480px) {
        //            margin-right: 0 !important;
        //          }
        //        }

        //        &:nth-child(2n) {
        //          @media (max-width:767px) {
        //            margin-right: 0 !important;
        //          }
        //
        //          @media (max-width:480px) {
        //            margin-right: 0 !important;
        //          }
        //        }

        p.blog_title {
          @media (max-width:991px) {
            display: block;
          }
        }
      }
    }
  }

  .filter_wrpr {
    padding: 0 35px;

    @media (max-width:991px) {
      padding: 0 10px;
    }

    @media (max-width:480px) {
      padding: 0 20px;
    }
  }
}

/* tab */

.tabgroup .panel {
  display: block;
}

.faq-tab-holder {
  &.active {
    h4 {
      color: #061886;
    }

    &:after {
      content: '';
      background: #25A9DE;
      width: 60%;
      height: 4px;
      bottom: 0;
      right: 20%;
      position: absolute;
      opacity: 1;
    }
  }

}

label#faqname-error {
  color: red;
  padding: 10px;
  font-size: 14px;
}

/* About page */


.team_member_bio {
  display: none;
}

.teammodal {
  .team_member_bio {
    display: block;
    width: 100%;
    float: left;
    margin-top: 50px;
  }

  .dp_wrpr {
    display: block !important;
  }

  .membr_contnt {
    display: inline-block;
    vertical-align: middle;
  }

  .readbio {
    display: none;
  }
}

.contact-nav {
  .left-box {
    h3 {
      a {
        cursor: pointer;

        &:hover {
          color: #25a9de;
        }
      }
    }
  }
}

.contactbtn-wrap {
  height: 65px;
  font-weight: 600;
  border: 1px solid #25A9DE;
  border-radius: 8px;
  max-width: 100%;

  input {
    background: transparent;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
  }

  &:hover {
    color: #000;

    input {
      color: #000;
      background: transparent;
    }
  }
}

div#myElem {
  position: fixed;
  background: #25a9de;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  z-index: 999;
  top: 65px;
  width: 100%;
  left: 0;
  color: #fff;

  p {
    font-size: 18px;
    font-weight: 700;
  }
}

.datebirth {
  width: calc(100% / 3 - 15px);
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width:575px) {
    width: 100%;
    margin-right: 0;
  }
}

.second-persion {
  .wrap-fill {
    background: #25a9de;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;

    h4 {
      color: #fff;
      font-size: 15px;
    }
  }
}

/* Thank you page */

.thanku-wrap {
  padding: 100px 0;
  text-align: center;

  img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  h3 {
    font-size: 30px;
    padding: 30px 0;
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }

  .mpc-button {
    margin-top: 50px;

    a.anotherquote {
      display: inline-block;
      background: #25a9de;
      padding: 15px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      margin-right: 20px;

      &:hover {
        background: #2d3988;
      }
    }

    a.backtohome {
      display: inline-block;
      border: 1px solid #2d3988;
      padding: 14px;
      border-radius: 4px;
      color: #2d3988;
      font-size: 14px;

      &:hover {
        border: 1px solid #25a9de;
        color: #25a9de;
      }
    }
  }

}

.mortgages_btn {
  float: right;
  display: inline-block;
  text-align: right;
  width: 100%;

  [type="submit"] {
    float: right;
    text-align: center;
    display: block;
    padding: 10px;
    width: 270px;
    height: 63px;
    border: 1px solid #25A9DE;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;

    &:hover {
      color: #fff;
      background: #2d3988;

    }
  }
}

/* banner box */

.banner_box {
  h2 {
    &:before {
      content: none;
    }
  }
}

.banner-ttle {
  h1 {
    &:before {
      content: none;
    }
  }
}

.protection_box-btn {
  button {
    width: 100%;
    background: #25a9de;
    border: 1px solid #25A9DE;
    height: 70px;
    border-radius: 8px;

    &:hover {
      color: #25A9DE;
    }
  }
}

.latest-blog {
  .blog_section {
    .blog_wrpr > a {
      &.blog_blk {
        margin-right: 60px;
        // a{
        //   height: 150px !important;
        // }

        &:nth-child(3n) {
          margin-right: 0px !important;
        }
        &:nth-child(1) {
          margin-left: 0px !important;
        }
      }
    }
  }
}



.teammodal {
  .modal-content-display {
    display: block !important;
  }
}


#qamodal{
  .modal-dialog{
    width: 45%;
    transform:translate(0, 50%);
    @media (max-width: 1200px) {
      transform:translate(0, 25%) !important;
      width: 50%;
    }
    @media (max-width: 480px) {
      transform:translate(0, 45%) !important;
      width: 90%;
    }
    .modal-body {
      .qst_ans_wrap {
        img{
          width: auto;
          height: 80px;
          border-radius: 50%;
          padding-bottom: 20px;
        }
        h4{
          @media (max-width: 991px) {
            // font-size: 2.6rem;
            display: block;
            padding-left: 0;
          }
        }
        
        .more_content {
          display: block !important;
        }
  
        .short_cont {
          display: none;
        }
      }
    }
    
    
  }

}

//.three_steps {
//  .fl-container {
//    h3 {
//      span {
//        padding: 0px 40px;
//      }
//    }
//  }
//}


.pension-plan-back {
  display: block !important;
  width: 120px;
  text-align: right;

  @media (max-width:480px) {
    width: 160px;
  }
}


/* Faq tab responsive styles */

.faq_tabs {
  .tabgroup {
    .tab {
      @media (max-width: 480px) {
        display: block;
        width: 100%;
        padding: 10px;
      }
    }

    .panel {
      @media (max-width: 480px) {
        max-height: 100%;
        overflow: hidden;
        border: none;
      }
    }
  }
}

.banner_contnt {
  .banner-slider {
    .banner_box {
      .selectric-items {
        height: 200px !important;
      }
    }
  }
}

.socil_wrpr {
  a {

    margin-left: 35px;
    display: inline-block;
    min-width: 23px;
    text-align: center;
    margin-right: 0 !important;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.termandcodtn_wrpr {
  .condtn_wrpr {
    justify-content: start !important;
  }
}

@media (max-width: 480px) {
  .mortgage-protection-banner {
    height: 700px;
  }
}

/* Menu fixed while menu click */

.show-menu {
  position: fixed;
}


.insure_life_wrpr {
  .inusre_cntnt {
    .insure_inner_blk {
      @media (max-width: 991px) {
        justify-content: left;
      }
    }
  }
}

.mortgages_footbtn {
  @media (max-width:767px) {
    display: block;
    text-align: center;
  }

  div#recaptcha-element {
    @media (max-width:767px) {
      display: inline-block;
      margin: 0 auto;
    }

    @media (max-width:400px) {
      transform: scale(0.8);
      transform-origin: 0 0;
    }
  }

  .mortgages_btn {
    @media (max-width:767px) {
      float: none;
      display: inline-block;
      text-align: center;
    }

    [type="submit"] {
      @media (max-width:767px) {
        float: none;
        text-align: center;
        display: block;
        margin: 10px auto;
      }

      @media (max-width:400px) {
        margin: 0;
        width: 240px;
        height: 55px;
      }
    }
  }
}

.selectric-open {
  z-index: 999 !important;
}


.modal-open {
  .modal#exampleModal {
    .modal-dialog {
      .modal-header {
        .close {
          margin: 15px;

          &:before {
            top: 8px;
            left: 14px;
          }

          &:after {
            top: 8px;
            left: 14px;
          }
        }
      }
    }
  }
}


.blog_wrap_img {
  height: 180px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 6px;

  img {
    margin-bottom: 0;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}


.single_img-banner {
  height: 450px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-box {
  .recaptch_wrap {
    margin-bottom: 30px;
  }
}

.find-my-pension_wrap {
  padding: 0 !important;

  ul {
    margin-bottom: 30px;

    li {
      list-style: disc;
    }
  }

  h1 {
    font-size: 4rem !important;
    color: #061886 !important;
    font-weight: 600 !important;
    font-family: inherit !important;
  }
}


.investment_n_wrap {
  h3 {
    margin-bottom: 20px !important;
  }

  .know_you_content {
    margin-bottom: 50px;
    font-size: 17px;
  }
}

section.investment_plan_section {
  padding: 0 0 100px 0;

  .mpi_wrpr {
    padding: 0 50px;

    h4 {
      margin-bottom: 20px;
    }
  }
}


.team {
  .team_wrpr {

    .grp_members_wrpr {
      .membrs_wrpr {
        .members_blk {
          padding: 20px;

          img {
            width: 100%;
          }

          .membr_contnt {
            a {
              color: #25a9de;
              font-size: 16px;
              text-transform: uppercase;
              position: relative;
              padding-right: 20px;

              &:hover {
                color: #062c92 ;

                &:after {
                  border-top: 8px solid #062c92;
                }
              }

              &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 8px solid #25a9de;
                clear: both;
                transform: rotate(273deg);
                top: 7px;
                right: 0;
              }
            }

            &:hover {
              color: #062c92;
            }

            p {
              min-height: 70px;
            }
          }
        }
      }
    }
  }
}

.management_single {
  text-align: left;
  padding: 50px 0;
  background: #f3f7fb;

  .management_single_img-wrap {
    width: 215px;
    overflow: hidden;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    height: 250px;

    @media (max-width:767px) {
      display: block;
      margin-bottom: 30px;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .management_single_content-wrap {
    h3 {
      margin-bottom: 10px;
      font-size: 2.5rem;
    }

    p {
      font-size: 17px;
      color: #099bd6;
      margin-bottom: 50px;
      font-weight: 500;
    }

    .description_box {
      margin-bottom: 30px;

      p {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.57);
        line-height: 27px;
      }

      ul {
        padding-left: 0;
        column-count: 3;

        @media (max-width:767px) {
          column-count: 1;
        }

        li {
          list-style: disc;
          display: block;
          position: relative;
          padding-left: 25px;
          font-size: 16px;
          color: #081774;
          font-weight: 500;
          margin-bottom: 15px;

          &:before {
            content: url(http://demo.webandcrafts.com/wp-financial-life/wp-content/uploads/2020/02/mpi_bullet.svg);
            position: absolute;
            left: 0;
            width: 20px;
            height: 25px;
            top: 0;
          }

        }
      }

      h5 {
        margin-bottom: 50px;
        color: #000;
        font-weight: 700;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background-color: #25A9DE;
          bottom: -20px;
          left: 0;
        }
      }
    }

    margin: 30px 0;
    width: calc(100% - 30px);


  }

  .contact_form-management {
    margin: 0 auto;
    background-color: #F3F7FB;

    .contact-box {
      &.mort-popup {
        margin: 0 auto;
        border-radius: 5px;
        padding: 5px !important;
        max-width: 600px;
        background: transparent;

        .popup_contnt {
          margin: 0;
          background: #fff;
          padding: 40px;
          -webkit-box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);
          box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);
          border-radius: 6px;

          h3 {
            margin-bottom: 30px;
            text-align: left;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
          }

        }
      }
    }

    .is-floating-label.textarea {
      height: 150px;
    }
  }

  h1 {
    position: relative;
    margin-bottom: 50px;
    padding: 0;
    border-radius: 4px;
    font-size: 3.2rem;
    text-transform: uppercase;
    display: inline-block;

    &:after {
      position: absolute;
      content: '';
      width: 32px;
      height: 4px;
      background-color: #25A9DE;
      top: -30px;
      left: 0;
    }
  }

  .breadcrumb_management {
    display: inline-block;
    float: right;

    ol.breadcrumb {
      background: transparent;
      margin-bottom: 0;
    }

    @media (max-width:540px) {
      display: none;
    }
  }

  .team_wrpr {
    display: flex;
    align-items: flex-start;

    @media (max-width:1199px) {
      display: block;
    }

    .grp_members_wrpr {
      max-width: 63%;
      flex: 0 0 63%;

      @media (max-width:1199px) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }

    .grp_members_fom {
      max-width: 37%;
      flex: 0 0 37%;

      @media (max-width:1199px) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}

.advisors_details {
  margin: 0 auto;
  background: transparent;
  padding: 0;
  display: inline-block;
  padding-left: 0;
  width: calc(100% - 275px);
  margin-left: 20px;

  @media (max-width:767px) {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  h4 {
    margin-bottom: 10px;
    text-align: left;
  }

  ul {
    padding-left: 0;

    li {
      font-size: 16px;
      text-align: left;

      a {
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 130px);
        vertical-align: middle;

        &:hover {
          color: #0073aa;
        }
      }

      span {
        min-width: 100px;
        display: inline-block;
        color: #25a9de;
        position: relative;

        &:after {
          content: "-";
          position: absolute;
          right: 10px;
          font-weight: 500;
        }
      }
    }
  }

  .contact_btn_wrap {
    border: 1px solid #f3f7fb;
    min-height: 50px;
    border-radius: 50px;
    min-width: 150px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background: #25a9de;
    color: #fff;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 15px;

    &:hover {
      background: transparent;
      color: #000;
      border-color: #25a9de;
    }
  }

  p {
    color: #707B96;
    font-weight: 500;
    margin-bottom: 20px;
  }
}


.pension_service {
  .fl-container {
    .types_pension {
      .pension_blk.active1 {
        overflow: auto;
      }
    }
  }
}

.pension_wrpr {
  padding: 75px 0;
  display: flex;
  align-items: self-start;

  @media (max-width:991px) {
    display: block;
  }

  .pension_wrap-content {
    max-width: 50%;
    flex: 0 0 50%;
    padding-left: 50px;

    @media (max-width:991px) {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0;
    }

    h1 {
      margin-bottom: 30px;
      position: relative;
      padding-top: 30px;

      &:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 4px;
        background-color: #25A9DE;
        top: 0;
        left: 0;
      }
    }

    p {
      font-size: 17px;
      line-height: 30px;
    }
  }

  .pension_wrap-img {
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 30px;

    @media (max-width:991px) {
      max-width: 100%;
      flex: 0 0 100%;
      padding-right: 0;
      margin-bottom: 50px;
    }
  }
}

.form-wrap {
  padding: 100px 0;
  background: #f5f9fb;

  .pension_form-wrap {
    background: #fff;
    padding: 40px;
    border-radius: 9px;
    box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);
    max-width: 500px;
    margin: 0 auto;

    input[type="email"],
    input[type="text"],
    input[type="tel"],
      {
      position: relative;
      height: 45px;
      border: 1px solid #BEC6F4;
      border-radius: 5px;
      margin-bottom: 5px;
      background-color: #fff;
      margin-top: 5px;
      font-size: 16px;
    }

    [type="submit"] {
      width: 100%;
      padding: 15px;
      font-weight: 600;
      border: 1px solid #25A9DE;
      border-radius: 8px;
      max-width: 100%;
      background-color: #25A9DE;
      height: 60px;
      margin-top: 20px;
      font-size: 18px;

      &:hover {
        background-color: #148ab9;
      }
    }

    textarea {
      height: 100px;
      border: 1px solid #BEC6F4;
      border-radius: 5px;
      margin-bottom: 5px;
      background-color: #fff;
      padding: 10px;
    }
  }

  .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    display: none !important;
  }

  h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
  }
}

.find-my-pension-holder {
  background: #fff;
}

.privacy_wrpr {
  .privcy {
    padding: 0;

    ul {
      padding-left: 50px;
      margin: 30px 0;

      li {
        list-style: disc;
      }
    }

    strong {
      color: #2d3988;
    }
  }
}

footer {
  .ftr_nav {
    .nav_blks {
      &:nth-child(1) {
        @media (min-width: 991px) {
          max-width: 25%;
          flex: 0 0 25%;
        }
      }

      &:nth-child(2) {
        @media (min-width: 991px) {
          max-width: 30%;
          flex: 0 0 30%;
        }
      }

      &:nth-child(3) {
        @media (min-width: 991px) {
          max-width: 25%;
          flex: 0 0 25%;
        }
      }

      &:nth-child(4) {
        @media (min-width: 991px) {
          max-width: 20%;
          flex: 0 0 20%;
        }
      }

      ul {
        li {
          padding: 5px 0;
        }
      }
    }
  }
}

.pension_bg {
  background: #f3f7fb;

  .contactbtn-wrap {
    max-width: 100%;
    display: inline-block;
    margin: 50px 10px 50px 0;
    text-align: center;
    padding: 20px 50px;
    @media (max-width:1200px) {
      margin: 50px 10px 0px 0;
    }
    @media (max-width:480px) {
      padding: 20px 30px;
      
    }
  }
}

.mortgage-protection-cover {
  overflow: hidden;

  .cover-slider {
    .slick-slide {
      //min-height: 385px;
    }

    .cover_item {
      h4 {
        // min-height: 65px;
      }

      a {
        padding-top: 10px;
        border-radius: 4px;
        color: #061886;
      }

      img {
        min-height: 30px;
      }

      ul {
        li {
          list-style: disc;
        }
      }
    }
  }
}

.serious-illness-q-s {
  padding: 100px 0;
  @media (max-width:1200px) {
    padding: 100px 0 50px;
  }
  @media (max-width:575px) {
    padding: 100px 0 10px;
  }

  .serious-illness_wrap {
    ul {
      padding-left: 0;

      li {
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;

        h4 {
          font-size: 2rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 17px;
          line-height: 24px;
        }
      }
    }
  }
}

.investment_wrap {
  .mortgage-protection-banner {
    &.testimonial_banner {
      height: 250px;

      .inner_banner_contnt {
        .banner_data {
          & > h1 {
            &:after {
              top: -15px;
            }
          }
        }
      }
    }
  }
}


//.mortgage-protection-banner {
//  &.testimonial_banner {
//    height: 250px;
//  }
//}


.section3_new-wrap {
  background: #f3f7fb;

  .mpi_contnt_wrpr {
    ul {
      li {
        margin-bottom: 20px !important;
      }
    }
  }
}

.mpi-section {
  .fl-container {
    .mpi_wrpr {
      .mpi_contnt_wrpr {
        &.edited_list {
          ul {
            li {
              margin-bottom: 20px;
              padding-left: 40px;
              position: relative;

              b {
                &:empty {
                  display: none !important;
                }
              }

              p {
                display: inline-block;
                padding-left: 0;
              }

              span {
                position: absolute;
                left: 0;
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.userimg_wrap {
  max-width: 80px;
}
body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
  z-index: 1001;
  /* overflow: hidden; */
}

.mortgage-protection-cover{
  #cover1-slider{
    a{
      text-decoration: none;
      .cover_item{
        min-height: 225px ;
        @media (max-width:1599px) {
          min-height: 200px ;
        }
        @media (max-width:1199px) {
          min-height: 170px ;
        }
        // @media (max-width:991px) {
        //   min-height: 180px ;
        // }
        @media (max-width:768px) {
          min-height: auto ;
        }
        @media (max-width:575px) {
          min-height: 166px ;
        }
        h4{
          margin-top: 10px !important;
          text-align: center !important;
        }
        p{
          // display: none;
        }
        img{
          display: block;
          margin: 0 auto;
        }
      }
  }

  }
} 
.page-id-123 {
  .mpi-section.section-3{
    padding: 140px 0 70px;
  }
}
.page-id-75 {
  .mpi-section.section-3{
    .fl-container{
      .mpi_wrpr{
        .mpi_contnt_wrpr.edited_list{
          ul{
            padding-top: 25px;
            li{
              p{
                display: inline-block;
                padding-left: 0;
                font-weight: bold;
                color: #000;
                font-size: 18px;
                margin-bottom: 18px;
                font-weight: 500;
                line-height: 30px
              }
            } 
          } 
        } 
      } 
    } 
  }
}
.page-id-104{
  .abt_bnr_wrpr{
    display: none;
  }
}

// .page-id-1410 {
.single_joint-dual-cover.type_insurance_section.type_insurance_section-inner{
  padding: 100px 0 60px;
  .fl-container{
    padding: 0 100px;
    .types_life_insurance-data{
      &:last-child{
        padding-bottom: 0px;
      }
    }
  }
} 
// }
.page-id-42{
  .single_joint-dual-cover.type_insurance_section {
    .fl-container{
      padding: 0 250px;
      a{
        height: 65px !important;
        width: 195px !important;
      }
    } 
  }
  .mortgage-protection-cover.life-insurance_scroll-box{
    .contactbtn-wrap.slider-button {
      margin: 60px 0 0;
      width: 200px !important;
      @media (max-width: 991px){
        height: 50px;
      }
    }
  } 
}


@media (max-width:1200px) {
  .main-header.header-smooth{
    .fl-container{
    
          .head-menu{
            margin-right: 30px !important;
          }
      }
    }
    .mortgage-protection-banner{
      .inner_banner_contnt{
        .banner_data{
          h1{
            font-size: 3.5rem !important;
          } 
        } 
      }
    }  
}
