.cf {
  @include clearfix();
}
.d-blk {
  display: block;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.tel {
    cursor: default;
}
.no-pad {
  padding: 0!important;
}

.default {
  padding: 0!important;
  margin: 0!important;
  list-style: none!important;
  li {
    list-style-type: none;
    &:before,&:after {
      display: none;
    }
  }
}
.section-title {
  &.top-line {

  }
}
li {
  list-style-type: none;
}

