// Heading Styles
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	color:  $title-color;
	display: block;
	line-height: 1.3;
	margin: 0;
	font-weight: $font-weight-title;
	margin-bottom: 0.5rem;
	a {
		color: inherit;
		display: inline-block;
		font-size: inherit;
		&:hover {
			color: $secondary-color;
		}
	}
}
h1 {
	font-size: $h1;
	// @include max(1450) {
	// 	font-size: $h1 - 0.3;
	// }
	
}
h2 {
	font-size: $h2;
	
}
h3 {
	font-size: $h3;
	
}
h4 {
	font-size: $h4;
	
}
h5 {
	font-size: $h5;
	
}
h6 {
	font-size: $h6;
	
}
.section-title {
	color: $title-color;
	display: block;
	margin-bottom: 0.5rem;
	font-size: 2.5rem;
	font-weight: $font-weight-title;
	line-height: 1.3;
	&.white {
		color: $white;
	}
	&.black {
		color: $black;
	}
	&.ttu {
		text-transform: uppercase;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
	h1,
	h2,
	h3 {
		color: inherit;
		display: inline-block;
		line-height: 1.3;
		padding-bottom: 0;
		margin-bottom:inherit;
		a {
			color: inherit;
			&:hover {
				color: $primary-color;
			}
		}
		@include max(991) {
			font-size: 2.3rem;
		}	
	}
	small {
		display: block;
		font-size: $base-font;
		font-weight: 300;
		text-transform: none;
	}
}
.page-title {
	color:  $title-color;
	display: block;
	margin-bottom: 25px;
	text-align: left;
	font-size: $h1;
	margin-bottom: 0.5rem;
	
	h1 {
		color: inherit;
		display: inline-block;
		font-size:inherit;
		@include font-semibold();
		line-height: 1.3;
		letter-spacing: 0.2px;
		margin-bottom:inherit;
		span {
			display: block;
		}
	}
	small {
		font-size: $base-font;
		font-weight: 300;
		text-transform: none;
	}
	&.white {
		color: $white;
	}
	&.black {
		color: $black;
	}
	&.ttu {
		text-transform: uppercase;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
}
.ttl {
	@include font-semibold();
	margin-bottom: 10px;
}	
.ttl-lg {
	font-size: $text-lg;
	@include font-semibold();
	line-height: 1.3;
	h1,h2,h3,h4,h5,h6 {
		font-size: inherit;
		margin-bottom: inherit;
	}
	
}
.ttl-md {
	font-size: $text-md;
	@include font-semibold();
	line-height: 1.3;
	h1,h2,h3,h4,h5,h6 {
		font-size: inherit;
		margin-bottom: inherit;
	}
}
.ttl-sm {
	font-size: $text-sm;
	@include font-semibold();
	margin-bottom: 0.5rem;
	h1,h2,h3,h4,h5,h6 {
		font-size: inherit;
		margin-bottom: inherit;
	}
}