.fl-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .fl-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .fl-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .fl-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .fl-container {
    max-width: 1170px;
  }
}

@media (min-width: 1600px) {
  .fl-container {
    max-width: 1380px;
  }
}

.bx-ttl {
  margin-bottom: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    margin-bottom: inherit;
  }
}

.img-center {
  @include flexbox();

  a {
    @include flexbox();
    max-width: 100%;
    max-width: 100%;
  }

  img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 100% 0;
    object-position: 100% 0;
    max-width: inherit !important;
  }
}

.img-bg-center {
  background-position: center !important;
  background-size: cover !important;
}

.bx-text {
  p {
    margin-bottom: 0;

    &+ {
      margin-top: 1rem;
    }
  }
}


.animate-btn {
  position: relative;
  display: block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: $primary-color;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.animate-btn:hover {
  color: $white;
}

.animate-btn:hover span {
  width: 225%;
  height: 562.5px;
}

.animate-btn:active {
  background-color: $primary-color;
}


.animate-btn.blue {
  background-color: $primary-color;
  color: $white;
  z-index: 9;
  border-color: transparent;
  
  &:hover {
    color: $black;
    border-color: transparent;
    z-index: 9;
  }

  &:active {
    background-color: $white;
  }

  span {
    background-color: $white;
    z-index: -1;
  }
} 