::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $primary-color;
}

::selection {
    color: $white;
    background: $primary-color;
}

.contact-nav {
    padding: 99px 0;
    background: #f5f9fb;

    @include max(1199) {
        padding: 40px 0;
        margin-top: -20px;
    }

    .head {
        margin-bottom: 40px;

        hr {
            width: 32px;
            height: 4px;
            background: $primary-color;
            margin-left: 0;
        }

        h4 {
            font-size: 3.8rem;
            font-weight: 700;
            color: #000C52;
            margin-bottom: 15px;
            position: relative;
        }
    }

    .contact-box {
        background: $white;
        padding: 40px;
        @include border-radius(18px);
        box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);

        @include max(768) {
            padding-left: 25px;
            padding-right: 25px;
        }

        .is-floating-label.textarea {
            height: 195px;

            textarea {
                height: auto;
                padding: 15px;
                border-radius: 6px;
            }
        }

        a {
            height: 65px;
            font-weight: 600;
            border: 1px solid $primary-color;
            @include border-radius(8px);
            max-width: 100%;

            @include max(1199) {
                height: 50px;
            }
        }
    }

    .left-box {
        background: $white;
        padding: 40px;
        @include border-radius(18px);
        max-width: 446px;
        box-shadow: 10px 10px 10px 10px rgba(37, 169, 222, 0.052);

        @include max(991) {
            max-width: 100%;
        }

        @include max(767) {
            padding-left: 25px;
            padding-right: 25px;
        }

        h4 {
            padding: 25px 0 15px 0;
            font-weight: 400;
            font-size: 2.4rem;
        }

        &:last-child {
            margin-top: 50px;
        }

        p {
            font-size: 1.8rem;
            color: #868686;

            b {
                margin-top: 18px;
                color: $primary-color;
                display: inline-block;
                font-weight: 500;
            }
        }

        h3 {
            font-size: 2.4rem;
        }
    }

    .left-box.mail {
        position: relative;

        &:after {
            position: absolute;
            right: -20px;
            top: 44px;
            background: url(../images/contact-arrow.png) center left no-repeat;
            content: "";
            width: 24px;
            height: 14px;

            @include max(993) {
                display: none;
            }
        }
    }
}


.blog-details-banner {
    height: 450px;
    display: flex;
    align-items: center;
    background-position: 70% 65%;

    @include max(1199) {
        margin-top: -20px;
        height: 450px;
    }

    @include max(991) {
        height: 250px;
    }
}

.blog-detail-content {
    margin-top: -14%;

    @include max(575) {
        margin-top: -30%;
    }

    hr {
        width: 32px;
        height: 4px;
        background: $primary-color;
        margin-left: 0;
    }

    p {
        margin: 30px 0;
    }

    ul {
        padding: 0 0 0 15px;

        li {
            list-style: decimal;
            list-style-position: initial;
            color: #061886;
            padding-right: 5px;
            margin-bottom: 20px;
        }
    }

    .breadcrumb-nav {
        p {
            display: inline-block;

            span {
                &:first-child {
                    font-weight: 700;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -o-border-radius: 3px;
                    padding: 7px 25px;
                }

                &:nth-child(2) {
                    padding-left: 25px;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.latest-blog {
    background: #f5f9fb;
    padding: 100px 0;
    margin-top: 70px;

    @include max(1199) {
        padding: 50px 0;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    @include max(991) {
        padding: 30px 0 0 0;
        margin-top: 30px;
        padding-bottom: 0;
    }

    @include max(991) {
        padding-bottom: 30px;
    }

    hr {
        width: 32px;
        height: 4px;
        background: $primary-color;
        margin-left: 0;
    }

    h4 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    .blog_section {
        padding-bottom: 0;

        @include max(575) {
            padding: 30px 0;
            padding-bottom: 0;
        }

        .blog_wrpr {
            padding: 0;

            a.blog_blk {
                margin-bottom: 0;

                @include max(991) {
                    margin-bottom: 30px;
                }

                @include max(575) {
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .more-blog {
        color: #061886;

        span {
            margin-right: 10px;
        }
    }

    .col-lg-6 {
        &.text-right {
            text-align: right !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        @include max(991) {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }
}