footer {
    .ftr_logo_wrpr {
        padding: 70px 0;

        @include max(1360) {
            padding: 70px 0;
        }

        @include max(1200) {
            padding: 50px 0;
        }

        @include max(992) {
            padding: 30px 0;
        }

        @include max(480) {
            width: 70%;
            margin: 0 auto;
        }
    }

    .ftr_nav {
        display: flex;
        margin-bottom: 40px;

        @include max(1200) {
            margin-bottom: 30px;
        }

        @include max(768) {
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        .nav_blks {
            max-width: 30%;
            flex: 0 0 30%;

            @include max(1200) {
                max-width: 27%;
                flex: 0 0 27%;
            }

            @include max(768) {
                max-width: 50%;
                flex: 0 0 50%;
            }

            @include max(480) {
                max-width: 100%;
                flex: 0 0 100%;
                text-align: center;
            }

            &:nth-child(4) {
                max-width: 10%;
                flex: 0 0 10%;

                @include max(1200) {
                    max-width: 15%;
                    flex: 0 0 15%;
                }

                @include max(768) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }

                @include max(480) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }
            }

            h4 {
                font-size: 2rem;
                color: $black;
                margin-bottom: 40px;
                position: relative;

                @include max(768) {
                    margin-bottom: 25px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    bottom: -20px;
                    background-color: $primary-color;
                    width: 32px;
                    height: 4px;
                    left: 0;

                    @include max(480) {
                        left: calc(50% - 16px);
                        bottom: -14px;
                    }
                }
            }

            ul {
                padding: 0;

                li {
                    padding: 8px 0;
                    position: relative;

                    @include max(1200) {
                        padding: 10px 0;
                    }

                    @include max(1200) {
                        padding-bottom: 0px;
                    }

                    a {
                        position: relative;

                        &:after {
                            position: absolute;
                            content: '';
                            width: 0px;
                            height: 1px;
                            left: 0;
                            bottom: 0px;
                            background-color: $primary-color;
                            @include transition(all, 0.5s, ease);
                        }

                        &:hover {
                            &:after {
                                width: 100%;
                            }
                        }

                        &:hover {
                            -webkit-mask-image: linear-gradient(-75deg, #fff 22%, rgba(255, 255, 255, .270588) 34%, rgba(0, 0, 0, .33) 95%);
                            mask-image: linear-gradient(-75deg, #fff 22%, rgba(255, 255, 255, .270588) 34%, rgba(0, 0, 0, .33) 95%);
                            -webkit-mask-size: 195%;
                            mask-size: 195%;
                            -webkit-animation: shine .9s infinite;
                            animation: shine .9s infinite;
                        }


                        @keyframes shine {
                            from {
                                -webkit-mask-position: 150%;
                            }

                            to {
                                -webkit-mask-position: -50%;
                            }
                        }

                        @-webkit-keyframes shine {
                            from {
                                -webkit-mask-position: 150%
                            }

                            to {
                                -webkit-mask-position: -50%;
                            }
                        }
                    }
                }
            }
        }
    }

    .ftr_contnt {
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, .30);

        @include max(768) {
            padding-bottom: 30px;
        }

        p {
            font-size: 1.4rem;
            padding: 0;

            @include max(480) {
                text-align: justify;
            }
        }
    }

    .ftr_dwn {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;

        @include max(992) {
            padding: 30px 0;
        }

        @include max(768) {
            padding: 15px 0;
        }

        @include max(480) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .socil_wrpr {
            a {
                margin-right: 50px;

                @include max(480) {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            svg {
                &:hover {
                    fill: $primary-color;
                }
            }
        }
    }
}