body {
    &.overlay {
        .main-header:after {
            position: absolute;
            content: '';
            width: 100%;
            top: 0;
            background-color: rgba(0, 0, 0, 0.4);
            height: 0px;
            box-shadow: 0 0px 160px 40px black;
            z-index: -1;
        }
    }

    &.overlay_1 {
        .header-fix-top_2 {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            &.header-fix-top {
                background-color: $white;
                box-shadow: 0 0px 19px rgba(0, 0, 0, 0.28);
            }
        }
    }
}




.main-header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
    height: 85px;
    z-index: 1051;


    .fl-container {
        display: flex;
        align-items: center; 
        justify-content: space-between;  
        height: 85px;

        @include max(1199) {
            height: 65px;
        }
    }

    .mob-btn {
        top: 0px;
    }

    .head-logo {
        position: relative;

        .logo {
            .logo_white {
                opacity: 1;
                position: relative;
                pointer-events: all;

                @include max(480) {
                    width: 80%;
                }
            }

            .logo_black {
                opacity: 0;
                position: absolute;
                pointer-events: none;
                left: 0;
            }
        }
    }

    &.header-smooth {
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }

    &.header-fix-top {
        position: fixed;
        background-color: $white;
        box-shadow: 0 0px 19px rgba(0, 0, 0, 0.28);
        height: 65px;
        -webkit-animation-name: top;
        -webkit-animation-duration: 1s;
        animation-name: top;
        &:after { 
            display: none;
        }

        .fl-container {
            height: 65px;
            // background: #fff!important; 
        }

        @-webkit-keyframes top {
            0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: transparent;
            }

            50% {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
                background-color: transparent;
            }

            100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: $white;
            }
        }

        @-moz-keyframes top {
            0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: transparent;
            }

            50% {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
                background-color: transparent;
            }

            100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: $white;
            }
        }

        @keyframes top {
            0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: transparent;
            }

            50% {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
                background-color: transparent;
            }

            100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                background-color: $white;
            }
        }

        .head-logo {
            .logo {
                .logo_black {
                    opacity: 1;
                    position: relative;
                    pointer-events: all;

                    @include max(480) {
                        width: 80%;
                    }
                }

                .logo_white {
                    opacity: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
        }

        .head-menu {
            .main-nav {
                ul>li.submenu a {
                    color: $black;
                }
            }
        }

        .hdr-contact {
            a {
                color: $black;
                cursor: pointer;
                

                &.phone-callnow {
                    // border: 1px solid $black;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                    color: $white;
                }
                &.phone-num{
                    border: 1px solid $black;
                    &.animate-btn:hover{
                        color:$white;
                        border: 1px solid $primary-color;
                        svg{
                            path{
                                fill:$white;
                            }
                        }
                    }
                }
                &.phone-num img {
                    -webkit-transition: 0.5s all ease-in-out;
                    transition: 0.5s all ease-in-out;
                    transition-delay: 0.5s;
                    filter: invert(1);
                    -webkit-filter: invert(1);
                }

                &:hover {
                    &.phone-callnow {
                        color: $primary-color;
                        border: 1px solid $primary-color;
                    }

                }

                svg {
                    margin-right: 10px;

                    path {
                        fill: $black;
                    }
                }
            }
        }

        .main-nav {
            &:after {
                background-color: rgba(0, 0, 0, 0.2);
            }

            ul {
                li.submenu {
                    i {
                        &:before {
                            -webkit-transition: 0.5s all ease-in-out;
                            transition: 0.5s all ease-in-out;
                            transition-delay: 0.5s;
                            filter: invert(1);
                            -webkit-filter: invert(1);
                        }
                    }
                }
            }
        }

        .mob-btn {
            top: 0px;

            .line {
                stroke: #000;
            }
        }


    }


    // headeradd2


    &.header-fix-top_2 {
        position: fixed;
        background-color: $white;
        box-shadow: 0 0px 19px rgba(0, 0, 0, 0.28);
        height: 86px;

        @include max(1199) {
            height: 65px;
        }

        &:after {
            display: none;
        }

        .fl-container {
            height: 86px;

            @include max(1199) {
                height: 65px;
            }
        }

        .head-logo {
            .logo {
                .logo_black {
                    opacity: 1;
                    position: relative;
                    pointer-events: all;

                    @include max(480) {
                        width: 80%;
                    }
                }

                .logo_white {
                    opacity: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
        }

        .head-menu {
            .main-nav {
                ul>li.submenu a {
                    color: $black;
                }
            }
        }

        .hdr-contact {
            a {
                color: $primary-color;
                cursor: pointer;

                &.phone-callnow {
                    // border: 1px solid $black;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                    color: $white;
                }
                &.phone-num{
                    border: 1px solid $primary-color;
                    &.animate-btn:hover{
                        color:$white;
                        svg{
                            path{
                                fill:$white; 
                            }
                        }
                    }
                }
                &.phone-num img {
                    -webkit-transition: 0.5s all ease-in-out;
                    transition: 0.5s all ease-in-out;
                    transition-delay: 0.5s;
                    filter: invert(1);
                    -webkit-filter: invert(1);
                }

                &:hover {
                    &.phone-callnow {
                        color: $primary-color;
                        border: 1px solid $primary-color;
                    }

                }

                svg {
                    margin-right: 10px;

                    path {
                        fill: $primary-color;
                    }
                }
            }
        }

        .main-nav {
            &:after {
                background-color: rgba(0, 0, 0, 0.2);
            }

            ul {
                li.submenu {
                    i {
                        &:before {
                            -webkit-transition: 0.5s all ease-in-out;
                            transition: 0.5s all ease-in-out;
                            transition-delay: 0.5s;
                            filter: invert(1);
                            -webkit-filter: invert(1);
                        }
                    }
                }
            }
        }

        .mob-btn {
            top: 0px;

            .line {
                stroke: #000;
            }
        }


    }




    .main-nav {
        margin-right: 75px;
        position: relative;

        @include max(1199) {
            //position: absolute;
            //margin-right: 0;
            position: absolute;
            right: 0px;
            top: 0;
            z-index: 99;
            height: 100vh;
            display: block;
            width: 315px;
            background: $white;
            margin-right: 0;
            padding: 0 30px;
            padding-top: 100px;
            margin-right: -315px;
            //transition: all 0.8s cubic-bezier(0.57, 0.82, 0.57, 0.34);
            transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
            // box-shadow: 0 14px 19px rgba(0, 0, 0, 0.28);
            -webkit-transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
            -moz-transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
            -ms-transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
            -o-transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
        }

        @include max(480) {
            background-color: transparent;
            box-shadow: none;
            top: 50%;
        }

        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 46px;
            background-color: rgba(255, 255, 255, 0.23);
            right: -40px;
            top: 0;
        }
    }

    .main-nav>ul>li.submenu {
        padding-left: 30px;
        cursor: pointer;

        @include max(1450) {
            padding-left: 20px;
        }

        i {
            width: auto;
            height: auto;
            right: -5px !important;

            @include max(1199) {
                right: 15px !important;
            }
        }

        &:hover {
            i {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);

                @include max(1199) {
                    transform: unset;
                    -webkit-transform: unset;
                    -moz-transform: unset;
                    -ms-transform: unset;
                    -o-transform: unset;
                }
            }
        }

        >a {
            color: $white;

            &:hover {
                -webkit-mask-image: linear-gradient(-75deg, #fff 22%, rgba(255, 255, 255, .270588) 34%, rgba(0, 0, 0, .33) 95%);
                mask-image: linear-gradient(-75deg, #fff 22%, rgba(255, 255, 255, .270588) 34%, rgba(0, 0, 0, .33) 95%);
                -webkit-mask-size: 195%;
                mask-size: 195%;
                -webkit-animation: shine .9s infinite;
                animation: shine .9s infinite;
            }


            @keyframes shine {
                from {
                    -webkit-mask-position: 150%;
                }

                to {
                    -webkit-mask-position: -50%;
                }
            }

            @-webkit-keyframes shine {
                from {
                    -webkit-mask-position: 150%
                }

                to {
                    -webkit-mask-position: -50%;
                }
            }
        }

        ul {
            width: 260px;
            border-radius: 8px;
            // @include transition(all, 0.5s, ease-in-out);
            @include max(1199) {
                width:255px;
            }

            li {
                border-bottom: none;
                @include transition(all, 0.5s, ease-in-out);
                @include max(1199) {
                   border-bottom: 1px solid $white;
                   &:last-child{
                       border:none;
                   }
                   &:first-child{
                    border-top:1px solid $white;
                }
                }

                a {
                    color: $secondary-color;
                    font-size: 1.4rem;
                    padding: 0;
                    font-weight: 600;
                    padding: 20px 30px;
                }

                &:hover {
                    background-color: rgba(37, 169, 222, 0.06);

                }
            }
        }
    }

    .main-nav>ul>li.submenu i {
        top: 12px;
        right: -32px;
        @include transition(all, 0.3s, ease-in-out);

        @include max(1199) {
            top: 3px;
            right: 5px !important;
            width: 40px;
            height: 40px;
            border-left: 1px solid $white;
        }

        &:after {
            display: none;
        }
    }

    .main-nav>ul>li.submenu i::before {
        content: url(../../assets/images/down-arrow.svg);

        @include max(1199) {
            filter: invert(1);
            -webkit-filter: invert(1);
            top: 8px;
            position: absolute;
            left: 15px;
            transition-delay: unset!important;
        }
    }

    .main-nav>ul>li:hover>a:after {
        width: 100%;
    }

    .main-nav>ul>li>a:after {
        background: $primary-color;
        display: none;
    }
}

.head-menu {
    display: flex;
    align-items: center;

    @include max(1199) {
        width: auto;
        justify-content: flex-end;
    }
}


.hdr-contact {
    display: flex;
    align-items: center;

    a {
        color: $white;
        text-decoration: none;
        cursor: pointer;
        z-index: 0;
        font-weight: 700;

        &.phone-callnow {
            // border: 1px solid $primary-color;
            border: 1px solid $primary-color;
            min-height: 40px;
            width: 130px;
            @include border-radius(25px);
            max-width: 130px;
            cursor: pointer;
        }

        &.phone-num {
            margin-right: 25px;
            font-weight: 600;
            letter-spacing: 2px;
            min-height: 40px;
            width: 180px;
            @include border-radius(25px); 
            border: 1px solid $white;
            font-size: 1.4rem;
            cursor: pointer;
            font-weight: 600;
            z-index: 0;

            svg {
                margin-right: 10px;

                path {
                    -webkit-transition: 0.3s all ease-in-out;
                    transition: 0.3s all ease-in-out;
                    // transition-delay: 0.5s;
                    fill: $white;
                }
            }
            &.animate-btn:hover{
                border: 1px solid $primary-color;
            }
        }
    }

    @include max(1050) {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background-color: $white;
    background-image: -webkit-gradient(linear, 40% 0, 75% 84%, from(#25A9DE), to(#2d3988), color-stop(.5, #7ECDED))
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
    border-radius: 11px
}

//mask for barba
#Mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    pointer-events: none;
    will-change: transform;
    z-index: 99999;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    display: none;
}

.show-menu .head-menu {
    display: block;
    margin: 0;
    width: 300px;
    max-width: 100%;
    display: block;
    float: right;
    padding-top: 90px;
    height: 100%;
    padding-right: 30px;
    // background: $white;
    padding-left: 30px;
}

.show-menu .main-header .main-nav {
    margin-right: 0;
    border: none;
    overflow: visible;
    overflow: auto;
 
    @include max(480) {
        margin-right: 0;
        border: none;
        overflow: visible;
        top: 0;
        left: calc(50% - 149px);
        right: auto;
        overflow: auto;
        overflow-x: hidden;
        padding-right: 43px;
        padding-bottom: 100px;
    }

}

.show-menu .main-header .main-nav ul>li.submenu {
    padding-left: 0;
    border: none;
    font-size: 18px;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @include max(1199) {
        background-color: rgba(0, 0, 0, 0.02);
        border-bottom: 1px solid $white;
        border-radius: 5px;
    }
}

.show-menu .main-header .main-nav:after {
    display: none;
}

.show-menu .main-header .overlay {
    display: none;
}

.show-menu .main-header .main-nav ul ul li:first-child {
    border-top: 1px solid transparent;
}

.show-menu .main-header .main-nav>ul>li.submenu ul li {
    padding: 11px 30px;
}

.show-menu .main-header .main-nav>ul>li.submenu ul li a {
    color: $white;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0;
}

.show-menu .main-header.header-fix-top .head-menu .main-nav ul>li.submenu a {
    color: $white;
}

.show-menu .main-header.header-fix-top .main-nav ul li.submenu i:before {
    filter: invert(0);
    -webkit-filter: invert(0);

    @include max(1199) {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
}

.show-menu .main-header.header-fix-top .mob-btn span {
    background: $white;
}

@include max(1199) {

    .circle {
        display: block;
        border-radius: 50%;
        width: 0px;
        height: 0px;
        position: fixed;
        z-index: 8;
        background-color: rgba(0, 0, 0, 0.89);
        // background-image: linear-gradient(90deg, #25A9DE, #2d3988);
        top: 30px;
        right: 45px;
        opacity: 1;
        -webkit-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
        -moz-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
        -ms-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
        -o-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
        transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);

        @include max(575) {
            right: 27px;
        }

        @include max(480) {
            // background-image: linear-gradient(90deg, #25A9DE, #2d3988);
            background-color: $white;
        }
    }

    .show-menu .main-header .circle {
        width: 1900px;
        height: 1900px;
        top: -250px;
        right: -310px;
        -webkit-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -moz-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -ms-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -o-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    }
}

.show-menu .main-header .mob-btn {
    z-index: 999;

    path {
        stroke: #000;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    }

    @include max(480) {
        right: -5px;
        padding: 10px 10px;
    }

}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $white;
    stroke-width: 5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

.show-menu .main-header .hdr-contact {
    display: flex;
    position: absolute;
    top: 12px;
    width: 350px;
    right: 7.3%;

    @include max(1050) {
        display: none;
    }
}

.main-header .mob-btn {
    z-index: 9;

    @include max(480) {
        right: -5px;
        padding: 10px 10px;
    }

}

.main-header .main-nav>ul>li.submenu i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.main-header .main-nav>ul>li.submenu.open i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.show-menu body {
    overflow: hidden;
}