///////////// banner section ///////////////
.banner.home-banner.section-1 {
  margin-top: -85px;
}

.banner_contnt {
  position: relative;

  .banner-slider {
    &.slick-slider {
      .banner-slide-item {
        display: block;
      }
    }

    .banner-slide-item {
      height: 825px;
      background-size: cover !important;
      position: relative;
      display: none;

      &:first-child {
        display: block;
      }

      @include max(1650) {
        height: 825px;
      }

      @include max(1450) {
        height: 625px;
      }

      @include max(1360) {
        height: 515px;
      }

      @include max(1199) {
        height: 470px;
      }

      @include max(991) {
        background-position: right !important;
      }

      @include max(767) {
        height: 550px;
        background-position: bottom !important;
      }

      @include max(480) {
        height: 100vh;
      }

      @include max(360) {
        height: 100vh;
        min-height: 600px;
      }

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(1, 1, 1, 0.17);
        height: 100%;
        width: 100%;
        pointer-events: none;
      }

      .owl_title {
        justify-content: space-between;

        @include max(767) {
          flex-direction: column;
          justify-content: center;
          align-items: baseline;
        }

        @include max(575) {
          align-items: center;
        }
      }

      > img {
        display: block;
        height: 825px;
        object-fit: cover;
        position: absolute;

        @include max(1650) {
          height: 825px;
        }

        @include max(1450) {
          height: 625px;
        }

        @include max(1360) {
          height: 515px;
        }

        @include max(1199) {
          height: 470px;
        }

        @include max(991) {
          // background-position: right !important;
        }

        @include max(767) {
          height: 550px;
          // background-position: bottom !important;
        }

        @include max(480) {
          height: 100vh;
        }

        @include max(360) {
          height: 100vh;
          min-height: 600px;
        }
      }

      .fl-container {
        position: relative;
        height: 825px;

        @include max(1650) {
          height: 825px;
        }

        @include max(1450) {
          height: 625px;
        }

        @include max(1360) {
          height: 515px;
        }

        @include max(1199) {
          height: 470px;
        }

        @include max(991) {
          // background-position: right !important;
        }

        @include max(767) {
          height: 550px;
          // background-position: bottom !important;
        }

        @include max(480) {
          height: 100vh;
        }

        @include max(360) {
          height: 100vh;
          min-height: 600px;
        }
      }
    }

    .banner-ttle {
      width: 42%;
      z-index: 9;

      @include max(991) {
        width: 60%;
      }

      @include max(767) {
        width: 100%;
      }

      h1 {
        font-size: 7rem;
        color: $white;
        line-height: 77px;
        margin-bottom: 60px;
        font-weight: 700;
        font-family: arial;

        @include max(1360) {
          font-size: 5rem;
          line-height: 50px;
          margin-bottom: 40px;
          width: 80%;
        }

        @include max(991) {
          width: 90%;
        }

        @include max(767) {
          font-size: 5rem;
          line-height: 40px;
          margin-bottom: 20px;
        }

        @include max(480) {
          font-size: 3.8rem;
          line-height: 35px;
          margin-bottom: 20px;
        }

        @include max(360) {
          width: 100%;
        }

      }

      a {
        font-size: 1.5rem;
        color: $white;
        text-decoration: none;
        font-weight: 500;
        @include transition(all, 0.5s, ease-in-out);

        span {
          display: none;
          padding-right: 5px;
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }

    .banner_box {
      padding: 40px 45px;
      background: $white;
      z-index: 9;
      width: 400px;
      @include border-radius(6px);
      box-shadow: 0 11px 20px rgba(0, 0, 0, 0.48);

      @include max(991) {
        margin-top: 30px;
        padding: 30px 30px;
      }

      @include max(767) {
        background: rgba(255, 255, 255, 0.65);
        box-shadow: none;
      }

      @include max(480) {
        width: 290px;
      }

      .banner_box_select {
        height: 63px;
        margin-bottom: 25px;

        select {
          position: relative;
          border: 1px solid transparent;
          border-radius: 6px;
          margin: 0 38px 0 0px;
          font-size: 17px;
          line-height: 60px;
          color: #000;
          height: 60px;
          background: #F6F7FB;
          padding-left: 38px;
          font-weight: 400;
        }
      }

      h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 28px;

        @include max(1199) {
          font-size: 2.3rem;
          margin-bottom: 20px;
        }
      }

      .selectric-wrapper {
        .selectric {
          b {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            @include transition(all, 0.5s, ease-in-out);
          }
        }

        &.selectric-open {
          .selectric {
            b {
              transform: rotate(180deg);
            }
          }
        }
      }

      .selectric {
        border: none;
        border-radius: 0px;
        background: #F6F7FB;
        height: 60px;
        // margin-bottom: 25px;
        @include border-radius(7px);

        @include max(1199) {
          height: 50px;
        }

        @include max(767) {
          background: transparent;
          border: 1px solid rgba(255, 255, 255, 0.31);
        }


        .label {
          margin: 0 38px 0 33px;
          font-size: 17px;
          line-height: 60px;
          color: #000;
          height: 60px;

          @include max(1199) {
            height: 50px;
            line-height: 50px;
            font-size: 15px;
          }
        }

        .button {
          height: 60px;
          line-height: 38px;
          background-color: #f6f7fb;

          @include max(767) {
            background: transparent;
          }

          &:after {
            border: 6px solid transparent;
            border-top-color: #000;
          }
        }
      }

      .selectric-items {
        background: #fff;
        border: none;
        z-index: -1;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.23);
        border-radius: 0 0 5px 6px;

        .selectric-scroll {
          ul {
            li {
              border-bottom: none;
              padding: 20px 30px;
              color: #17288E;
              font-weight: 600;
              font-size: 1.6rem;

              &:hover {
                background: rgba(37, 169, 222, 0.06);
              }

              &.highlighted {
                background: rgba(37, 169, 222, 0.06);
              }
            }
          }
        }
      }

      a {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        @include border-radius(8px);
        border: 1px solid $primary-color;

        @include max(1360) {
          height: 50px;
        }

        &.animate-btn.blue {
          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .slick-dots {
      bottom: 40px;
      right: 18%;

      @include max(480) {
        right: calc(50% - 50px);
        bottom: 65px;
      }

      @include max(360) {
        right: calc(50% - 50px);
        bottom: 40px;
      }

      li {
        button {
          border: 3px solid $white;
          background: transparent;

          @include max(767) {
            height: 8px;
            width: 8px;
            border: 1px solid #fff;
          }

        }

        &.slick-active {
          button {
            background-color: $white;
          }
        }
      }
    }
  }

  .banner_steps {
    position: absolute;
    bottom: -7px;
    left: 15%;

    @include max(767) {
      left: 6%;
    }

    p {
      color: $white;
      font-size: 2.2rem;
      font-weight: 500;
      padding: 0;
      margin: 0;

      @include max(767) {
        font-size: 1.8rem;
      }
    }

    span {
      margin-left: 40%;
    }
  }
}

////////////////////// steps section //////////////////////
.steps_wrpr {
  display: flex;
  border-bottom: 1px solid rgba(112, 112, 112, 0.16);

  @include max(480) {
    flex-direction: column;
  }

  .step_blk {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    display: flex;
    position: relative;
    padding: 60px 0;

    @include max(1199) {
      padding: 40px 0;
    }

    @include max(991) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include max(480) {
      max-width: 100%;
      flex: 0 0 100%;
      display: flex;
      position: relative;
      padding: 20px 0;
    }

    &:first-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 100px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.07);
      left: -50px;

      @include max(1199) {
        left: -25px;
      }

      @include max(991) {
        left: -5px;
        height: 70%;
      }

      @include max(767) {
        left: 0px;
      }

      @include max(480) {
        display: none;
      }
    }

    img {
      margin-right: 45px;
      @include transition(all, 0.3s, ease-in-out);

      @include max(1199) {
        margin-right: 15px;
        width: 70px;
      }

      @include max(991) {
        margin-right: 0px;
        margin-bottom: 5px;
      }

      @include max(480) {
        margin-bottom: 15px;
      }
    }

    .steps_cntnt {
      @include max(991) {
        text-align: center;
        width: 65%;
      }

      @include max(767) {
        width: 90%;
      }

      p {
        width: 65%;
        font-size: 1.5rem;
        margin: 0;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.23);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include max(991) {
          width: 100%;
        }


        &:last-child {
          font-weight: 400;
        }
      }

      h4 {
        font-size: 2.2rem;

        @include max(991) {
          font-size: 1.9rem;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
      }
    }
  }
}

/////////////////////// inurance life  /////////////////

.insure_life_wrpr {
  padding: 125px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include max(1360) {
    padding: 80px 80px;
  }

  @include max(1199) {
    padding: 80px 30px;
  }

  @include max(991) {
    padding: 30px 30px;
    flex-direction: column;
  }

  @include max(480) {
    padding: 30px 15px;
  }

  .insure_img {
    max-width: 50%;
    flex: 0 0 50%;

    @include max(991) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 30px;
      height: 350px;
    }
  }

  .inusre_cntnt {
    max-width: 50%;
    flex: 0 0 50%;

    @include max(1199) {
      max-width: calc(50% - 20px);
      flex: 0 0 calc(50% - 20px);
      margin-left: 20px;
    }

    @include max(991) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-left: 0px;
    }

    h3 {
      width: 100%;
      margin-bottom: 50px;
      font-size: 3.8rem;
      font-weight: 700;
      color: $title-dark;

      @include max(1450) {
        width: 100%;
      }

      @include max(991) {
        margin-bottom: 25px;
      }

      @include max(480) {
        font-size: 3.4rem;
      }

    }

    a {
      &.animate-btn {
        color: $primary-color;

        &:hover {
          color: $white;
        }
      }
    }

    .insure_inner_blk {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      width: 80%;

      @include max(1450) {
        width: 100%;
      }

      @include max(991) {
        margin-bottom: 25px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      img {
        margin-right: 35px;

        @include max(480) {
          margin-right: 15px;
        }
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;

        span {
          color: $secondary-color;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
    }

    a {
      height: 65px;
      font-weight: 600;
      border: 1px solid $primary-color;
      @include border-radius(32px);
      max-width: 199px;

      @include max(1199) {
        height: 50px;
      }
    }
  }
}

//////////////////////// blue slik slider //////////////////

.slik_main_wrpr {
  height: 715px;
  display: block;
  position: relative;
  padding: 120px 0 135px 295px;
  display: flex;
  overflow: hidden;

  @include max(1450) {
    padding: 140px 0 135px 160px;
  }

  @include max(1360) {
    padding: 120px 0 125px 160px;
    height: 630px;
  }

  @include max(1199) {
    padding: 60px 0 125px 60px;
    height: 600px;
  }

  @include max(991) {
    padding: 50px 0 125px 50px;
    height: 575px;
  }

  @include max(575) {
    display: flex;
    flex-direction: column;
    height: 775px;
  }

  @include max(480) {
    padding: 30px 20px 60px 20px;
    height: 710px;
  }

  &:after {
    position: absolute;
    content: '';
    background-color: $secondary-color;
    pointer-events: none;
    width: 65%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include border-radius(8px);
    z-index: -1;

    @include max(1450) {
      width: 75%;
    }

    @include max(575) {
      width: 100%;
    }
  }

  .blue_wrpr {
    max-width: 30%;
    flex: 0 0 30%;
    position: relative;
    margin-top: 50px;

    @include max(1199) {
      max-width: 40%;
      flex: 0 0 40%;
    }

    @include max(767) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @include max(575) {
      max-width: 100%;
      flex: 0 0 100%;
      height: 350px;
      overflow: hidden;
      max-height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include max(575) {
      height: 300px;
      max-height: 300px;
      margin-top: 0;
    }

    img.bg {
      position: absolute;
      // content: url(../images/back_dble); 
      top: -10px;
      left: 50px;
      pointer-events: none;
      z-index: 0;

      @include max(1360) {
        top: 10%;
        left: 4%;
      }

      @include max(1199) {
        top: 10%;
        left: 4%;
      }
    }

    h4 {
      font-size: 3.8rem;
      font-weight: 600;
      color: $white;
      width: 81%;
      position: relative;
      margin: 50px 0;

      @include max(1360) {
        font-size: 3.3rem;
      }

      @include max(991) {
        font-size: 3rem;
      }

      &:after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: 32px;
        height: 4px;
        left: 0;
        top: -50px;

        @include max(991) {
          top: -30px;
        }
      }
    }

    .blue_arrw {
      display: flex;

      @include max(480) {
        justify-content: flex-end;
      }

      span {
        cursor: pointer;
        @include transition(all, 0.5s, ease-in-out);

        &:first-child {
          display: block;
          width: 20px;
          height: 16px;
          font-size: 0;
          opacity: 0.2;
          background-image: url(../../assets/images/arrow-prev.svg);
          background-repeat: no-repeat;
          background-position: center right;
          filter: invert(1);

          &.cust_prev {
            background-image: url(../../assets/images/arrow-prev.svg);
            background-position: center left;
            margin-right: 20px;

            &:hover {
              width: 100px;
              opacity: 1;
            }
          }
        }

        &:last-child {
          display: block;
          width: 20px;
          height: 16px;
          font-size: 0;
          opacity: 0.2;
          background-image: url(../../assets/images/arrow-next.svg);
          background-repeat: no-repeat;
          background-position: center right;
          filter: invert(1);

          &.cust_next {
            &:hover {
              width: 100px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .blue_slik {
    max-width: 80%;
    flex: 0 0 80%;
    position: relative;

    @include max(767) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @include max(575) {
      max-width: 85%;
      flex: 0 0 85%;
    }

    @include max(480) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &:after {
      position: absolute;
      content: '';
      width: 12%;
      height: 100%;
      background: $white;
      top: 0;
      right: 0;
      box-shadow: -20px 1px 100px 60px $white;

      @include max(575) {
        display: none;
      }

    }

    .blue_item {
      padding: 45px 40px;
      background: #fff;
      @include border-radius(8px);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.13);
      border: 1px solid rgba(0, 0, 0, 0.03);

      @include max(480) {
        padding: 25px 20px;
      }

      &.slick-slide {
        margin: 50px 10px;

        @include max(575) {
          margin-top: 20px;
        }

        @include max(480) {
          &:first-child {
            margin: 0 10px;
          }
        }
      }

      img {
        margin-bottom: 25px;
        margin-bottom: 25px;
        width: 60px;
        height: 55px;
        object-fit: contain;
      }

      h4 {
        font-size: 2.4rem;
        width: 72%;
        margin-bottom: 27px;
        min-height: 63px;

        @include max(1650) {
          width: 100%;
        }

        @include max(1199) {
          min-height: 55px;

          br {
            display: none;
          }
        }

        @include max(575) {
          min-height: auto;

          br {
            display: none;
          }
        }
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 25px;
        height: 48px;
      }

      a {
        border: 1px solid $primary-color;
        @include border-radius(32px);
        padding: 15px;
        // width: 75%;
        max-width: 165px;
        z-index: 0;

        &.animate-btn {
          color: $primary-color;

          &:hover {
            color: $white;
          }
        }
      }
    }

    button {
      display: none !important;
    }
  }
}

//////////////////////// key slik slider //////////////////


.key_wrpr {
  display: block;
  padding: 180px 0 95px 0;
  text-align: center;
  border-bottom: 1px solid rgba(112, 112, 112, 0.12);

  @include max(1360) {
    padding: 120px 0 80px 0;
  }

  @include max(991) {
    padding: 100px 0 40px 0;
  }

  @include max(575) {
    padding: 100px 0 20px 0;
  }

  @include max(480) {
    padding: 70px 0 20px 0;
  }

  .key_cntnt {
    width: 35%;
    margin: 0 auto;

    @include max(991) {
      width: 100%;
    }

    h4 {
      font-size: 3.8rem;
      font-weight: 700;
      color: $title-dark;
      margin-bottom: 30px;
      position: relative;

      @include max(991) {
        font-size: 3.4rem;
        margin-bottom: 15px;
      }

      &:after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: 32px;
        height: 4px;
        left: calc(50% - 16px);
        top: -50px;

        @include max(991) {
          top: -30px;
        }
      }
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 65px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include max(991) {
        margin-bottom: 40px;
      }
    }
  }

  .key_silder {
    padding-bottom: 50px;

    @include max(991) {
      margin-bottom: 30px;
    }

    @include max(575) {
      margin-bottom: 15px;
    }

    @include max(480) {
      margin-bottom: 5px;
    }

    .key_item {
      text-align: -webkit-center;
    }

    ul {
      &.slick-dots {
        left: calc(50% - 50px);

        @include max(767) {
          left: calc(50% - 65px);
          bottom: 25px;
        }

        li {
          button {
            background: #707070;
            height: 7px;
            width: 7px;
          }

          &.slick-active {
            button {
              background: $primary-color;
              height: 10px;
              width: 10px;
            }
          }

          @include max(480) {
            margin-left: 5px;
          }
        }
      }
    }
  }
}


//////////////////////// testimonial slik slider //////////////////

.home-section.section-6 {
  overflow: hidden;

  .testimonial_wrpr {
    padding: 190px 0 130px 0;
    display: flex;
    align-items: center;

    @include max(1360) {
      padding: 120px 0 80px 0;
    }

    @include max(991) {
      padding: 90px 0 40px 0;
      flex-direction: column;
    }

    .testimonial_vdo_wrpr {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(991) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      h4 {
        font-size: 3.8rem;
        font-weight: 600;
        color: $title-dark;
        width: 65%;
        position: relative;
        margin-bottom: 40px;

        @include max(1199) {
          width: 80%;
        }

        @include max(991) {
          width: 100%;
          font-size: 3.4rem;
        }

        &:after {
          position: absolute;
          content: '';
          background-color: $primary-color;
          width: 32px;
          height: 4px;
          left: 0;
          top: -50px;

          @include max(991) {
            top: -30px;
          }
        }
      }

      .vedio_wrpr {
        width: 530px;
        height: auto;

        @include max(1360) {
          margin-left: 0px;
        }

        @include max(1199) {
          width: 430px;
        }

        @include max(480) {
          width: 100%;
        }
      }

      .testi_arrw {
        display: flex;
        align-items: end;
        width: 100%;
        justify-content: flex-end;
        margin-top: 70px;
        padding-right: 150px;

        @include max(991) {
          padding-right: 20px;
        }

        span {
          cursor: pointer;
          @include transition(all, 0.5s, ease-in-out);

          &:first-child {
            display: block;
            width: 20px;
            height: 16px;
            font-size: 0;
            opacity: 0.2;
            background-image: url(../../assets/images/arrow-prev.svg);
            background-repeat: no-repeat;
            background-position: center right;

            &.cust_prev {
              background-image: url(../../assets/images/arrow-prev.svg);
              background-position: center left;
              margin-right: 20px;

              &:hover {
                width: 100px;
                opacity: 1;
              }
            }
          }

          &:last-child {
            display: block;
            width: 20px;
            height: 16px;
            font-size: 0;
            opacity: 0.2;
            background-image: url(../../assets/images/arrow-next.svg);
            background-repeat: no-repeat;
            background-position: center right;

            &.cust_next {
              &:hover {
                width: 100px;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .clents_comments {
      max-width: 40%;
      flex: 0 0 40%;
      margin-left: 125px;
      position: relative;

      @include max(1360) {
        margin-left: 90px;
      }

      @include max(1199) {
        margin-left: 50px;
      }

      @include max(991) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-left: 150px;
      }

      @include max(480) {
        margin-left: 50px;
      }

      &:after {
        position: absolute;
        content: url(../images/testi_shape.svg);
        top: -73%;
        left: -40%;
        z-index: -1;
        pointer-events: none;

        @include max(1199) {
          top: -80%;
          left: -55%;
        }

        @include max(991) {
          top: -80%;
          left: -20%;
        }

        @include max(767) {
          left: -40%;
        }

        @include max(575) {
          left: -50%;
        }

        @include max(480) {
          left: -65%;
        }
      }

      &:before {
        position: absolute;
        content: url(../images/comment.png);
        top: -16%;
        left: 0;

      }

      .testi_item {

        p {
          font-size: 1.6rem;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 33px;

          @include max(480) {
            line-height: 30px;
            width: 85%;
          }

          &:first-child {
            margin: 80px 0 30px 0;
            width: 80%;

            @include max(1360) {
              width: 85%;
            }

            @include max(991) {
              width: 70%;
            }

            @include max(480) {
              width: 80%;
            }
          }
        }

        p.client_name {
          color: $secondary-color;
          font-weight: 600;
          font-size: 1.8rem;
          margin: 0;

        }

        p.client_dsgntn {
          font-weight: 400;
          font-size: 1.5rem;
          margin: 0;
          position: relative;
          width: auto;
          display: inline-block;

          &:after {
            position: absolute;
            content: '';
            background-color: $primary-color;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
          }
        }
      }

      button {
        display: none !important;
      }
    }
  }

}

//////////////////////// blue clients //////////////////

.blue_clients {
  width: 100%;
  height: 430px;
  background: $secondary-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include border-radius(8px);

  @include max(1360) {
    height: 350px;
  }

  @include max(991) {
    height: 300px;
  }

  h4 {
    color: $white;
    font-size: 4.2rem;
    width: 60%;
    text-align: center;
    z-index: 1;

    @include max(991) {
      font-size: 4rem;
      width: 90%;
    }

    @include max(767) {
      font-size: 3.8rem;
    }

    @include max(576) {
      font-size: 3.4rem;
    }
  }

  .circle_1 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .circle_2 {
    position: absolute;
    left: 0;
    top: 0;
  }
}


//////////////////////// home contact  //////////////////

.home_contact {
  position: relative;
  width: 100%;
  margin-top: 0;
  padding: 100px 0 140px 0;

  @include max(1360) {
    padding: 100px 0 90px 0;
  }

  @include max(767) {
    padding: 75px 0 50px 0;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #F5F9FB;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }

  .home_contact_main_wrpr {
    h3 {
      font-size: 3.4rem;
      font-weight: 600;
      color: $title-dark;
      width: 100%;
      position: relative;
      margin-bottom: 100px;
      text-align: center;

      @include max(1360) {
        margin-bottom: 60px;
      }

      @include max(575) {
        margin-bottom: 30px;
      }

      &:after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        width: 32px;
        height: 4px;
        left: calc(50% - 16px);
        top: -50px;

        @include max(767) {
          top: -25px;
        }
      }
    }

    .home_contact_wrpr {
      display: flex;
      width: 60%;
      margin: 0 auto;
      align-items: center;
      text-align: center;

      @include max(1199) {
        width: 80%;
      }

      @include max(575) {
        width: 100%;
        flex-direction: column;
      }

      h4 {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 25px;

        @include max(575) {
          margin-bottom: 15px;
        }
      }

      img {
        height: 50px;
        margin-bottom: 38px;

        @include max(575) {
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .online_wrpr {
        width: 37%;
        margin: 0 auto;
        position: relative;

        @include max(1199) {
          width: 40%;
        }

        @include max(575) {
          width: 80%;
          margin-bottom: 25px;
        }

        @include max(575) {
          width: 50%;
        }

        &:after {
          content: '';
          position: absolute;
          right: -18%;
          background-color: rgba(0, 0, 0, 0.07);
          height: 100%;
          width: 1px;
          top: 0;

          @include max(1199) {
            right: -13%;
          }

          @include max(575) {
            display: none;
          }
        }

        a {
          height: 70px;
          display: flex;
          @include border-radius(8px);
          border: 1px solid $primary-color;
          z-index: 0;
          font-weight: 700;

          @include max(1360) {
            height: 50px;
          }

          &.animate-btn {
            &:hover {
              color: $primary-color;
            }
          }
        }
      }

      .call_wrpr {
        width: 37%;
        margin: 0 auto;

        @include max(1199) {
          width: 40%;
        }

        @include max(575) {
          width: 80%;
        }

        @include max(575) {
          width: 50%;
        }

        a {
          height: 70px;
          @include border-radius(8px);
          border: 1px solid rgba(0, 0, 0, 0.08);
          cursor: pointer;
          font-weight: 700;
          z-index: 0;

          @include max(1360) {
            height: 50px;
          }

          svg {
            path {
              @include transition(all, 0.3s, ease-in-out);
            }
          }

          &:hover {
            svg {
              path {
                fill: $white;
              }
            }
          }

          svg {
            margin-right: 15px;
          }

          &.animate-btn {
            color: $primary-color;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}
