.mortgage-protection-banner {
  height: 654px;
  display: flex;
  align-items: center;
  background-position: 70% 65%;

  @include max(1199) {
    height: 600px;
    margin-top: -20px;
  }

  @include max(991) {
    height: 490px;
  }

  @include max(767) {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include max(480) {
    height: 650px;
  }

  .inner_banner_contnt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max(767) {
      margin: auto;
      flex-direction: column-reverse;
    }

    .banner_data {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(991) {
        max-width: 55%;
        flex: 0 0 55%;
      }

      @include max(767) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      h1 {
        font-size: 4.5rem;
        color: $white;
        font-weight: 600;
        margin-bottom: 35px;
        position: relative;
        font-family: arial;
        width: 86%;

        &:after {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background-color: $primary-color;
          top: -45px;
          left: 0;

          @include max(991) {
            top: -30px;
          }
        }

        @include max(991) {
          font-size: 28px;
          width: 100%;
          margin-bottom: 25px;
        }

        @include max(767) {
          font-size: 35px;
        }

        @include max(575) {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }

      p {
        font-size: 1.8rem;
        color: $white;
        font-weight: 600;
        margin-bottom: 45px;
        width: 86%;

        @include max(991) {
          width: 100%;
          margin-bottom: 25px;
        }

        @include max(575) {
          font-size: 16px;
          margin-bottom: 20px;
          font-weight: 400;
        }
      }

      .get_q_wrpr {
        display: flex;
        align-items: center;

        @include max(1199) {
          // flex-direction: column;
          align-items: flex-start;
        }

        @include max(767) {
          flex-direction: row;
        }

        @include max(767) {
          // flex-direction: column;
        }

        a {
          margin-right: 32px;
          height: 70px;
          width: 210px;
          align-items: center;
          display: flex;
          justify-content: center;
          @include border-radius(7px);
          border: 1px solid $primary-color;
          z-index: 0;
          font-weight: 700;

          @include max(1199) {
            // margin-right: 0px;
            margin-bottom: 20px;
          }

          @include max(991) {
            height: 50px;
            width: 210px;
          }

          @include max(767) {
            // margin-right: 0px;
            margin-bottom: 20px;
          }

          @include max(480) {
            // margin-right: 0px;
            margin-bottom: 20px;
          }

          &:hover {
            color: $primary-color;
          }
        }

        .vdo_wrpr {
          display: flex;
          align-items: center;

          img {
            margin-right: 17px;

            @include max(991) {
              width: 25%;
            }
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .banner_img {
      max-width: 50%;
      flex: 0 0 50%;
      text-align: end;
      max-width: 500px;

      @include max(991) {
        max-width: 45%;
        flex: 0 0 45%;
      }

      @include max(767) {
        max-width: 75%;
        flex: 0 0 75%;
        margin-bottom: 50px;
      }

      img {}
    }


  }
}

.mortgage-protection-cover {
  position: relative;
  padding: 105px 0;
  background-color: $bg-common-color;

  @include max(1599) {
    padding: 95px 0;
  }

  @include max(1199) {
    padding: 80px 0;
  }

  @include max(991) {
    padding: 50px 0;
  }

  .cover_bg {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 0;

    @include max(1199) {
      top: 0px;
    }

    @include max(1199) {
      top: -10px;
    }

    img {
      @include max(1199) {
        max-width: 85%;
      }

      @include max(991) {
        max-width: 80%;
      }

      @include max(767) {
        max-width: 100%;
      }
    }
  }

  .fl-container {
    padding: 0 250px;
    text-align: center;

    @include max(1599) {
      padding: 0 220px;
    }

    @include max(1599) {
      padding: 0 100px;
    }

    @include max(1199) {
      padding: 0 80px;
    }

    @include max(991) {
      padding: 0 0px;
    }

    @include max(767) {
      padding: 0 25px;
    }

    @include max(575) {
      padding: 0 15px;
    }
  }

  h3 {
    color: $title-dark;
    font-size: 38px;
    margin-bottom: 45px;
    font-weight: 600;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 32px;
      height: 4px;
      background-color: $primary-color;
      top: -45px;
      left: calc(50% - 32px);

      @include max(991) {
        top: -25px;
      }
    }

    @include max(1199) {
      font-size: 34px;
      margin-bottom: 40px;
    }

    @include max(1199) {
      font-size: 29px;
      margin-bottom: 25px;
    }

    @include max(575) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  p {
    color: rgba(30, 50, 95, 0.58);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;

    @include max(1199) {
      margin-bottom: 50px;
    }

    @include max(991) {
      margin-bottom: 5px;
    }
  }

  .cover-slider {
    .cover_item {
      margin: 0 25px;
      background: $white;
      padding: 35px;
      @include border-radius(15px);
      text-align: left;
      box-shadow: 0 3px 31px rgba(6, 24, 134, 0.11);
      min-height: 330px;

      @include max(1199) {
        padding: 20px 20px;
      }

      @include max(991) {
        min-height: 320px;
      }

      @include max(767) {
        min-height: 270px;
      }

      img {
        margin-bottom: 20px;
        max-height: 50px;

        @include max(991) {
          margin-bottom: 25px;
        }
      }

      h4 {
        color: #022A69;
        font-size: 18px;
       
        margin-bottom: 20px;
        font-weight: 600;

        @include max(991) {
          margin-bottom: 20px;
        }
      }

      p {
        color: #585858;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }

    .slick-slide {
      margin: 0 25px;
      margin-bottom: 40px;
      min-height: 415px;

      @include max(1199) {
        margin-bottom: 70px;
        margin-top: 25px;
      }

      @include max(991) {
        margin-bottom: 50px;
      }
    }

    .slick-dots {
      position: relative;

      li {
        button {
          background: #707070;
          height: 7px;
          width: 7px;
        }

        &.slick-active {
          button {
            background: $primary-color;
            height: 10px;
            width: 10px;
          }
        }
      }
    }

  }

  &.life-insurance_scroll-box {
    .cover-slider {
      .slick-slide {
        min-height: auto;
        text-align: center;
        
        // @include max(991) {
        //   min-height: 375px;
        // }
        // @include max(767) {
        //   min-height: 450px ;
        // }
        // @include max(480) {
        //   min-height: auto ;
        // }
      }
    }
  }

  &.whole-of-life-cover_scrolling-box {
    .cover-slider {
      .slick-slide {
        min-height: 280px;
        @include max(360) {
          min-height: 315px;
        }
      }
    }
  }

  &.income-protection_scroll-box {
    .cover-slider {
      .slick-slide {
        min-height: 360px;
        @include max(1599) {
          min-height: 335px;
        }
        @include max(767) {
          min-height: 285px;
        }
        @include max(400) {
          min-height: 325px;
        }
      }
    }
  }

  &.illness_scrolling_box {
    .cover-slider {
      .slick-slide {
        min-height: 280px;
        .cover_item{
          min-height: 275px;

          p{
            -webkit-line-clamp:2;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            overflow:hidden;

          }
        }
        @include max(767) {
          min-height: 330px;
        }
      }
    }
  }

  &.mortgage-protection_scroll_box {
    .cover-slider {
      .slick-slide {
        min-height: 370px;
        @include max(767) {
          min-height: 305px;
        }
        @include max(575) {
          min-height: 315px;
        }
        @include max(420) {
          min-height: 351px;
        }
      }
    }
  }

  &.life-insurance-cost-section {
    .cover-slider {
      .slick-slide {
        min-height: 280px;

        @include max(991) {
          min-height: 290px;
        }
        @include max(767) {
          min-height: 250px;
        }
        // @include max(480) {
        //   min-height: auto;
        // }
      }
    }
  }
}

.mpi-section {
  padding: 140px 0;

  @include max(1599) {
    padding: 100px 0;
  }

  @include max(1199) {
    padding: 80px 0;
  }

  @include max(991) {
    padding: 50px 0;
  }

  .fl-container {
    .mpi_wrpr {
      display: flex;
      align-items: center;

      @include max(991) {
        align-items: end;
        display: block;
      }

      @include max(767) {
        flex-direction: column;
      }

      .mpi_img_wrpr {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 55px;

        @include max(1199) {
          padding: 0 25px;
        }

        @include max(1199) {
          padding: 0 5px;
        }

        @include max(991) {
          max-width: 100%;
          flex: 0 0 100%;
          margin-bottom: 100px;
        }

        @include max(767) {
          max-width: 100%;
          flex: 0 0 100%;
          margin-bottom: 50px;
        }

        img {
          @include max(991) {
            width: 100%;
          }
        }
      }

      .mpi_contnt_wrpr {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 120px 0 95px;
        margin-top: 20px;

        @include max(1599) {
          padding: 0px 50px 0 50px;
        }

        @include max(1199) {
          padding: 0px 0px 0 30px;
        }

        @include max(991) {
          margin-top: 0px;
          padding: 0px 0px 0 15px;
          max-width: 100%;
          flex: 0 0 100%;
        }

        @include max(767) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        h3 {
          color: #022A69;
          font-size: 3.8rem;
          margin-bottom: 25px;
          font-weight: 600;
          line-height: 45px;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 32px;
            height: 4px;
            background-color: $primary-color;
            top: -30px;
            left: 0;

            @include max(767) {
              top: -20px;
            }
          }

          @include max(1199) {
            font-size: 34px;
            margin-bottom: 20px;
          }

          @include max(991) {
            font-size: 29px;
            line-height: 34px;
            margin-bottom: 20px;
          }

          @include max(991) {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }

        > p {
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(112, 112, 112, 0.1);
          margin-bottom: 45px;

          @include max(991) {
            margin-bottom: 25px;
          }
        }

        > .subtitle_list {
          color: #061886;
          font-size: 18px;
          font-weight: 500;
        }

        ul {
          margin-bottom: 45px;
          padding: 0;

          li {
            margin-bottom: 60px;

            @include max(991) {
              margin-bottom: 15px;
            }

            b {
              color: $black;
              font-size: 22px;
              margin-bottom: 18px;
              font-weight: 500;
              line-height: 35px;
              @include max(480) {
                font-size: 17px;
              }
            }

            span {
              padding-right: 20px;
            }

            p {
              padding-left: 38px;
              margin-top: 5px;
              margin-bottom: 1.5rem;

              @include max(991) {
                margin-bottom: 5px;
              }
            }
          }
        }

        a {
          margin-right: 32px;
          height: 70px;
          width: 195px;
          align-items: center;
          display: inline-flex;
          justify-content: center;
          z-index: 0;
          font-weight: 700;
          @include border-radius(7px);
          border: 1px solid $primary-color;
          

          @include max(991) {
            height: 50px;
            width: 210px;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  &.life-insurance-mpi-section {
    .fl-container {
      .mpi_wrpr {
        .mpi_contnt_wrpr {
          ul {
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.three_steps {
  position: relative;
  padding: 115px 0;
  background-color: $bg-common-color;

  @include max(1599) {
    padding: 100px 0;
  }

  @include max(1199) {
    padding: 80px 0;
  }

  @include max(991) {
    padding: 50px 0;
  }

  .fl-container {
    padding: 0 80px;
    text-align: center;

    @include max(1199) {
      padding: 40px 0;
    }

    @include max(991) {
      padding: 0px 0;
    }

    @include max(575) {
      padding: 0px 15px;
    }

    h3 {
      color: $title-dark;
      font-size: 3.4rem;
      margin-bottom: 125px;
      font-weight: 600;
      line-height: 72px;
      position: relative;
      text-align: center;
      width: 100%;
      right: 10%;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 4px;
        background-color: $primary-color;
        top: -20px;
        left: calc(60% - 32px);

        @include max(991) {
          left: calc(50% - 32px);
        }

        @include max(767) {
          left: calc(55% - 32px);
        }
      }

      @include max(1599) {
        font-size: 30px;
        margin-bottom: 100px;
      }

      @include max(1199) {
        font-size: 33px;
        margin-bottom: 50px;
        right: 0%;
      }

      @include max(991) {
        font-size: 29px;
        margin-bottom: 30px;
        line-height: 40px;
      }

      @include max(575) {
        font-size: 23px;
        margin-bottom: 20px;
        line-height: 30px;
      }

      span {
        position: absolute;
        background-image: url(../images/three_steps.svg);
        padding: 0 30px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80px;
        margin-left: 5px;

        @include max(1599) {
          padding: 0 20px;
          margin-bottom: 60px;
        }

        @include max(1199) {
          padding: 0px;
          margin-bottom: 50px;
          position: relative;
          background-image: none;
        }
      }
    }

    .protcton_steps {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 85px;

      @include max(1599) {
        margin-bottom: 50px;
      }

      @include max(1199) {
        margin-bottom: 40px;
      }

      @include max(991) {
        margin-bottom: 30px;
      }

      @include max(767) {
        flex-direction: column;
        margin-bottom: 10px;
      }

      .protction_step_blk {
        margin: 0 45px;

        @include max(1599) {
          margin: 0 40px;
        }

        @include max(1199) {
          margin: 0 10px;
        }

        @include max(767) {
          margin: 0 20%;
          margin-bottom: 20px;
        }

        @include max(767) {
          margin: 0 10%;
          margin-bottom: 20px;
        }

        img {
          margin-bottom: 38px;

          @include max(991) {
            margin-bottom: 20px;
            width: 35%;
          }
        }

        h4 {
          color: $title-dark;
          font-size: 2.2rem;
          margin-bottom: 45px;
          font-weight: 600;
          line-height: 25px;

          @include max(991) {
            margin-bottom: 20px;
          }
        }
      }
    }

    a {
      margin-right: 32px;
      height: 70px;
      width: 313px;
      margin: 0 auto;
      align-items: center;
      display: flex;
      justify-content: center;
      @include border-radius(7px);
      border: 1px solid $primary-color;
      z-index: 0;
      font-weight: 700;

      @include max(991) {
        height: 50px;
        width: 210px;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

}



// modal
.mort-popup {
  padding: 130px 0;
  background-color: $bg-common-color;

  @include max(1199) {
    padding: 100px 0;
    margin-top: -20px;
  }

  @include max(1199) {
    padding: 70px 0;
  }

  @include max(767) {
    padding: 50px 0;
  }

  .popup_contnt {
    .fl-container {
      .form_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        @include max(991) {
          margin-bottom: 25px;
        }

        @include max(575) {
          align-items: flex-start;
        }


        h4 {
          color: $title-dark;
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 25px;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 32px;
            height: 4px;
            background-color: $primary-color;
            top: -45px;
            left: 0;

            @include max(1199) {
              top: -25px;
            }
          }

          @include max(991) {
            font-size: 34px;
          }

          @include max(575) {
            font-size: 20px;
          }
        }

        p {
          margin-top: 24px;
          color: $title-dark;
          opacity: .58;
        }

        a {
          filter: brightness(0.5);

          span {
            padding-right: 8px;
          }
        }
      }

      .modal-body {
        @include max(1199) {
          padding: 70px;
        }

        @include max(991) {
          padding: 50px;
        }

        @include max(991) {
          padding: 25px;
        }
      }
    }


    input,
    textarea {
      border: 0;
      padding: 3px 0;
      box-shadow: none;
      outline: 0;
    }

    .is-floating-label {
      position: relative;
      height: 63px;
      border: 1px solid #BEC6F4;
      @include border-radius(6px);
      margin-bottom: 36px;
      background-color: $white;

      @include max(991) {
        height: 50px;
        margin-bottom: 25px;
      }

      input {
        position: absolute;
        left: 20px;
        background: transparent;
        height: 63px;
        width: 96%;

        @include max(991) {
          height: 50px;
        }
      }

      &.text {

        height: 170px;
      }

      textarea {
        position: absolute;
        left: 20px;
        background: transparent;
        height: 170px;
        resize: none;
        width: 96%;
      }

      label {
        pointer-events: none;
        position: absolute;
        transform: translate3d(0, 0, 0) scale(1);
        transform-origin: left top;
        transition: 100ms;
        padding-top: 20px;
        font-size: 18px;
        color: #081774;
        opacity: .75;
        background: $white;
        background-color: $white;
        left: 35px;
        line-height: 18px;

        @include max(991) {
          padding-top: 15px;
          font-size: 15px;
        }

      }

      &.is-focused label {
        transform: translateY(-20px) scale(0.80);
        padding-top: 0px;
        top: 12px;
        color: rgba(8, 23, 116, 0.75);
        -webkit-transform: translateY(-20px) scale(0.80);
        -moz-transform: translateY(-20px) scale(0.80);
        -ms-transform: translateY(-20px) scale(0.80);
        -o-transform: translateY(-20px) scale(0.80);
        background: $white;
        width: auto;
        opacity: 1;
      }

      .selectric {
        border: none;
        background: $white;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }

      .selectric .label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin: 0 38px 0 30px;
        font-size: 18px;
        line-height: 56px;
        color: #081774;
        height: 61px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: .75;
        @include border-radius(6px);

        @include max(991) {
          height: 48px;
          font-size: 15px;
        }
      }

      .selectric .button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 61px;
        line-height: 38px;
        background-color: #081774;
        color: $white;
        text-align: center;

        @include max(991) {
          height: 50px;
        }
      }

      .selectric .button:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #fff;
        border-bottom: none;
      }
    }

    .radio-wrpr {
      display: flex;
      flex-direction: column;

      label {
        color: #081774;
        opacity: .75;
        margin-bottom: 15px;
      }
    }

    .radio-label {
      position: relative;
      margin-bottom: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include max(991) {
        margin-bottom: 25px;
      }

      p {
        height: 63px;
        border: 1px solid #BEC6F4;
        @include border-radius(6px);
        max-width: calc(50% - 18px);
        flex: 0 0 calc(50% - 18px);
        margin-right: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        font-size: 18px;
        color: #081774;
        opacity: .75;

        @include max(991) {
          height: 50px;
          font-size: 15px;
        }

        &:last-child {
          max-width: 50%;
          flex: 0 0 50%;
          margin-right: 0px;
        }

        input {
          opacity: 0;
          position: absolute;
          pointer-events: none;

          &:checked + label {
            background-color: #EFF1FF;
            border: 1px solid #637AFA;
            @include border-radius(6px);
          }
        }

        label {
          height: 61px;
          display: flex;
          align-items: center;
          margin: 0;
          width: 100%;
          justify-content: center;

          @include max(991) {
            height: 50px;
          }

          img {
            margin-right: 10px;
          }
        }
      }
    }

    .select_wrpr {
      display: flex;
      justify-content: space-between;

      @include max(575) {
        flex-direction: column;
      }

      .select_blk {
        max-width: calc(50% - 18px);
        flex: 0 0 calc(50% - 18px);
        margin-right: 18px;

        @include max(575) {
          max-width: 100%;
          flex: 0 0 100%;
          margin-right: 0px;
        }

        &:last-child {
          max-width: 50%;
          flex: 0 0 50%;
          margin-right: 0px;

          @include max(575) {
            max-width: 100%;
            flex: 0 0 100%;
            margin-right: 0px;
          }
        }
      }
    }

  }
}

.dob_wrpr {
  margin-bottom: 36px;
  position: relative;
  display: flex;
  flex-direction: column;

  @include max(991) {
    margin-bottom: 25px;
  }

  label {
    color: #081774;
    opacity: .75;
    margin-bottom: 15px;
  }
}

.date_wrpr {
  display: flex;

  @include max(575) {
    flex-wrap: wrap;
  }

  .date_blk {
    max-width: calc(33.33% - 20px);
    flex: 0 0 calc(33.33% - 20px);
    height: 63px;
    margin-right: 20px;
    border: 1px solid #BEC6F4;
    @include border-radius(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include max(991) {
      height: 50px;
    }

    @include max(575) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 25px;
      margin-right: 0px;
    }

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      left: auto;
      margin: auto;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: $black;
      border-bottom: none;
    }

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #081774;
      opacity: .75;
      width: 100%;
      text-align: center;
    }

    &:last-child {
      margin-right: 0px;
      max-width: calc(33.33% - 0px);
      flex: 0 0 calc(33.33% - 0px);

      @include max(575) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 0px;
      }

      &:after {
        content: 'Y';
        position: absolute;
        width: 50px;
        height: 62px;
        background-color: $title-color;
        left: 0;
        top: 0;
        border-radius: 6px 0 0 6px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        @include max(991) {
          height: 48px;
        }
      }
    }

    &:first-child {
      &:after {
        content: 'D';
        position: absolute;
        width: 50px;
        height: 62px;
        background-color: $title-color;
        left: 0;
        top: 0;
        border-radius: 6px 0 0 6px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        @include max(991) {
          height: 48px;
        }
      }
    }

    &:nth-child(2n) {
      &:after {
        content: 'M';
        position: absolute;
        width: 50px;
        height: 62px;
        background-color: $title-color;
        left: 0;
        top: 0;
        border-radius: 6px 0 0 6px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        @include max(991) {
          height: 48px;
        }
      }
    }
  }
}

.termandcodtn_wrpr {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max(575) {
    flex-direction: column;
  }

  .condtn_wrpr {
    display: flex;
    justify-content: end;

    @include max(575) {
      margin-bottom: 20px;
    }

    .cutm_chk {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @include max(575) {
        padding-left: 30px;
      }
    }

    .cutm_chk input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: $white;
      border: 1px solid #BEC6F4;
      border-radius: 6px;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .cutm_chk input:checked ~ .checkmark:after {
      display: block;
    }

    .cutm_chk .checkmark:after {
      left: 8px;
      top: 3px;
      width: 6px;
      height: 13px;
      border: solid #061780;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    p {
      width: 65%;
      margin-bottom: 0;

      @include max(767) {
        width: 85%;
      }

      @include max(575) {
        width: 100%;
      }
    }
  }

  a {
    margin-right: 32px;
    height: 70px;
    width: 370px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    @include border-radius(7px);
    border: 1px solid $primary-color;
    z-index: 0;
    font-weight: 600;

    @include max(991) {
      height: 50px;
      width: 300px;
    }

    @include max(767) {
      width: 250px;
    }

    &.animate-btn.blue {
      &:hover {
        color: $primary-color;
      }
    }

  }
}

// aboutus

.about-banner {
  height: 360px;
  background: $secondary-color;
  margin-top: -86px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include max(1199) {
    height: 650px;
  }

  @include max(480) {
    height: 550px;
  }

  .abt_banner_contnt {
    text-align: center;
    margin-top: 4%;
    position: relative;
    z-index: 1;

    @include max(767) {
      margin-top: 8%;
    }

    img.about_bg {
      position: absolute;
      left: -30%;
      top: 0%;
      z-index: -1;

      @include max(1199) {
        left: 0%;
      }

      @include max(480) {
        top: 0%;
      }
    }

    h1 {
      font-size: 5.5rem;
      font-weight: 600;
      line-height: 55px;
      position: relative;
      color: $white;
      font-family: arial;
      margin-bottom: 40px;

      @include max(1199) {
        font-size: 5rem;
        line-height: 50px;
        margin-bottom: 30px;
      }

      @include max(991) {
        font-size: 4rem;
        line-height: 40px;
        margin-bottom: 20px;
      }

      @include max(480) {
        font-size: 3.5rem;
        line-height: 35px;
        margin-bottom: 20px;
      }
    }

    p {
      color: $white;
      font-size: 1.7rem;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 100px;

      @include max(480) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 70px;
      }
    }

    .abt_bnr_wrpr {
      img {
        &:first-child {
          margin-right: -40px;
          margin-top: -70px;
          position: relative;
          box-shadow: 15px 0 10px rgba(0, 0, 0, 0.33);
          z-index: 9;
        }

        @include max(991) {
          width: auto;
          height: 320px;
        }

        @include max(767) {
          width: auto;
          height: 220px;
        }

        @include max(480) {
          width: auto;
          height: 135px;
        }
      }
    }
  }
}

.ceo {
  padding: 5% 0 5% 0;

  @include max(767) {
    padding: 5% 0 5% 0;
  }

  @include max(480) {
    padding: 10% 0 5% 0;
  }

  .ceo_wrpr {
    padding: 0 15% 0% 15%;

    @include max(1199) {
      padding: 0 10% 5% 10%;
    }

    @include max(991) {
      padding: 0 5% 5% 5%;
    }

    h3 {
      margin-bottom: 60px;
      font-size: 4rem;
      font-weight: 600;
      width: 80%;

      @include max(1199) {
        margin-bottom: 25px;
        font-size: 3.5rem;
        width: 100%;
      }

      @include max(991) {
        margin-bottom: 20px;
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
  }

  .ceo_blk {
    padding: 0 12%;
    position: relative;

    @include max(1199) {
      padding: 0 5%;
    }

    @include max(480) {
      padding: 0;
    }

    > img {
      position: absolute;
      top: -80px;
      left: 60px;

      @include max(1199) {
        left: -20px;
      }

      @include max(991) {
        left: -20px;
        width: 6%;
        top: -40px;
      }

      @include max(767) {
        left: 0px;
      }

      @include max(480) {
        left: -10px;
        width: 12%;
      }
    }

    h4 {
      margin-bottom: 75px;
      font-size: 3.2rem;
      font-weight: 600;
      width: 100%;
      color: $black;

      @include max(1199) {
        font-size: 3rem;
        margin-bottom: 40px;
      }

      @include max(991) {
        font-size: 2.5rem;
      }

      @include max(767) {
        font-size: 2.3rem;
        margin-bottom: 25px;
      }
    }

    .img_wrpr {
      display: flex;
      align-items: center;
      justify-content: center;

      @include max(480) {
        justify-content: flex-start;
      }

      .contnt_wrpr {
        margin-left: 50px;

        @include max(480) {
          margin-left: 30px;
        }

        h4 {
          margin-bottom: 5px;
          line-height: 20px;
          font-size: 2.1rem;
        }

        p {
          margin-bottom: 0;
          font-size: 1.8rem;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: $primary-color;
          }
        }
      }

      .userimg_wrap {
        max-width: 80px;
      }
    }
  }
}

.our_mission {
  background-color: $bg-common-color;

  .insure_life_wrpr {
    padding-bottom: 320px;

    @include max(480) {
      padding-bottom: 35px;
    }

    .inusre_cntnt {
      a {
        z-index: 2;

        &.animate-btn {
          color: $primary-color;

          &:hover {
            color: $white;
          }
        }
      }

      > h3 {
        margin-bottom: 15px;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background-color: $primary-color;
          top: -45px;
          left: 0;

          @include max(991) {
            top: -30px;
          }
        }
      }

      > p {
        margin-bottom: 50px;

        @include max(991) {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.team {
  .team_wrpr {
    padding: 5% 12% 0% 12%;

    @include max(1199) {
      padding: 5% 5% 0% 5%;
    }

    @include max(767) {
      padding: 5% 0% 0% 0%;
    }

    @include max(480) {
      padding: 10% 0% 0% 0%;
    }

    .team_grp_wrpr {
      text-align: center;
      margin-top: -280px;
      margin-bottom: 140px;

      @include max(1199) {
        margin-bottom: 100px;
      }

      @include max(991) {
        margin-bottom: 80px;
      }

      @include max(480) {
        margin-bottom: 50px;
        margin-top: 0px;
      }
    }

    .grp_members_wrpr {
      text-align: center;

      > h3 {
        font-size: 3.8rem;
        font-weight: 600;
        margin-bottom: 26px;
        position: relative;

        @include max(1199) {
          margin-bottom: 15px;
        }

        @include max(767) {
          font-size: 3.6rem;
        }

        &:after {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background-color: $primary-color;
          top: -45px;
          left: calc(50% - 16px);

          @include max(991) {
            top: -30px;
          }
        }
      }

      > p {
        font-size: 1.6rem;
        font-weight: 400;
        width: 45%;
        margin: 0 auto;
        margin-bottom: 60px;
        line-height: 25px;

        @include max(1199) {
          width: 58%;
          margin: 0 auto;
          margin-bottom: 40px;
          line-height: 20px;
        }
      }

      .membrs_wrpr {
        display: flex;
        flex-wrap: wrap;

        .members_blk {
          max-width: 33.33%;
          flex: 0 0 33.33%;
          margin-bottom: 85px;

          @include max(1199) {
            margin-bottom: 45px;
          }

          @include max(991) {
            max-width: 100%;
            flex: 0 0 100%;
            margin-right: 0;
            margin-bottom: 25px;

            &:nth-child(3n) {
              max-width: 100%;
              flex: 0 0 100%;
              margin-right: 0px;
            }
          }

          @include max(576) {
            max-width: calc(50% - 15px);
            flex: 0 0 calc(50% - 15px);
            margin-right: 15px;
            margin-bottom: 15px;

            &:nth-child(3n) {
              max-width: calc(50% - 15px);
              flex: 0 0 calc(50% - 15px);
              margin-right: 15px;
            }

            &:nth-child(2n) {
              max-width: calc(50% - 15px);
              flex: 0 0 calc(50% - 15px);
              margin-right: 0px;
            }
          }

          @include max(480) {
            max-width: 100%;
            flex: 0 0 100%;
            margin-right: 0px;
            margin-bottom: 15px;

            &:nth-child(3n) {
              max-width: 100%;
              flex: 0 0 100%;
              margin-right: 0px;
            }

            &:nth-child(2n) {
              max-width: 100%;
              flex: 0 0 100%;
              margin-right: 0px;
            }
          }

          img {
            margin-bottom: 45px;
            @include border-radius(10px);

            @include max(1199) {
              margin-bottom: 25px;
            }

            @include max(991) {
              margin-bottom: 15px;
              width: auto !important;
            }
          }

          .membr_contnt {
            h4 {
              font-size: 1.8rem;
            }

            p {
              font-size: 1.5rem;
            }

            a {
              color: transparent;
              font-weight: 600;
              font-size: 1.4rem;
            }

            &:hover {
              h4 {
                text-decoration: underline;
              }

              p {
                text-decoration: underline;
              }

              a {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.parterns {
  background-color: $bg-common-color;

  .key_wrpr {
    border-bottom: none;

    @include max(767) {
      padding: 70px 0 20px 0;
    }
  }
}


// modal

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(3, 12, 67, 0.7) ;
  padding-right: 0 !important;
  z-index: 9999;

  .modal-dialog {
    max-width: 100%;
    width: 43%;
    margin: auto;
    // height: 623px;

    @include max(1599) {
      width: 60%;
    }

    @include max(991) {
      width: 80%;
    }

    .modal-header {
      padding: 0;

      .close {
        padding: 0;
        margin: 0;
        z-index: 999;

        &:hover {
          background: transparent;
          color: #fff;
        }
      }
    }

    .close:before,
    .close:after {
      background-color: $title-color;
      content: '';
      height: 50%;
      left: 10px;
      position: absolute;
      transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      top: 10px;
      width: 2px;
      z-index: 999;
    }

    .modal-body {
      position: relative;
      background: #fff;
      border: none;
      border-radius: 7px;
      box-shadow: none;
      padding: 45px 50px;

      @include max(991) {
        padding: 50px 50px;
      }

      @include max(575) {
        padding: 20px;
      }
       h4{
         padding-bottom: 12px;
        //  text-align: center;
         display: inline-block;
         padding-left: 25px;
       }

      .dp_wrpr {
        display: flex;
        align-items: center;
        margin-bottom: 26px;

        @include max(575) {
          flex-direction: column;
          align-items: baseline;
          margin-bottom: 10px;
        }

        img {
          width: auto;
          height: 80px;
          border-radius: 50%;
          padding-bottom: 20px;
        }

        .dp_details {
          margin-left: 35px;

          @include max(575) {
            margin-left: 00px;
          }

          h4 {
            font-size: 2.5rem;
            margin-bottom: 5px;
          }

          p {
            font-size: 2.1rem;
          }
        }
      }
    }
  }

}



// testimonails

.mortgage-protection-banner.testimonial_banner {
  height: 250px;

  @include max(991) {
    height: 430px;
  }

  .inner_banner_contnt {
    width: 68%;
    margin: 0 auto;
    text-align: center;

    @include max(991) {
      width: 100%;
    }

    .banner_data {
      max-width: 100%;
      flex: 0 0 100%;

      > h1 {
        font-size: 4rem;
        line-height: 50px;
        margin-bottom: 20px;
        width: 100%;

        @include max(991) {
          line-height: 40px;
        }

        @include max(575) {
          line-height: 28px;
          font-size: 3rem;
        }

        &::after {
          top: -38px;
          left: calc(50% - 16px);
        }
      }

      > p {
        font-size: 1.5rem;
        font-weight: 400;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.testimonials {
  padding: 140px 0px;
  background-color: $bg-common-color;

  @include max(1599) {
    padding: 100px 0px;
  }

  @include max(1199) {
    padding: 80px 0px;
  }

  @include max(991) {
    padding: 40px 0px;
  }

  .testi_wrpr {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 40px;

    @include max(1199) {
      padding: 0 0px;
    }

    .testi_blks {
      max-width: calc(50% - 35px);
      flex: 0 0 calc(50% - 35px);
      margin-right: 35px;
      background-color: $white;
      padding: 95px 80px 60px 100px;
      box-shadow: 0 3px 40px rgba(37, 169, 222, 0.18);
      margin-bottom: 90px;
      position: relative;

      @include max(1599) {
        padding: 80px 60px 60px 80px;
      }

      @include max(1399) {
        padding: 50px;
        margin-bottom: 50px;
      }

      @include max(1199) {
        padding: 35px;
        margin-bottom: 35px;
      }

      @include max(991) {
        max-width: calc(50% - 15px);
        flex: 0 0 calc(50% - 15px);
        margin-right: 15px;
      }

      @include max(575) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-right: 0px;
        padding: 25px;
      }

      &:nth-child(even) {
        max-width: calc(50% - 35px);
        flex: 0 0 calc(50% - 35px);
        margin-left: 35px;
        margin-right: 0;

        @include max(991) {
          max-width: calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
          margin-left: 15px;
        }

        @include max(575) {
          max-width: 100%;
          flex: 0 0 100%;
          margin-left: 0px;
        }
      }

      > img {
        position: absolute;
        opacity: .2;
        right: 42%;
        top: 20%;
        width: 18%;
        pointer-events: none;

        @include max(991) {
          right: 35%;
          top: 20%;
          width: 30%;
        }
      }

      > p {
        // padding: 95px 80px 40px 100px;
        padding-bottom: 50px;
        line-height: 33px;

        @include max(1199) {
          padding-bottom: 30px;
        }

        @include max(991) {
          line-height: 25px;
        }

        @include max(767) {
          padding-bottom: 15px;
        }
      }

      .img_wrpr {
        display: flex;
        align-items: center;

        @include max(767) {
          flex-direction: column;
          align-items: flex-start;
        }

        @include max(575) {
          flex-direction: row;
          align-items: flex-start;
        }

        img {
          @include max(767) {
            width: auto;
            height: 50px;
            margin-bottom: 15px;
          }

          @include max(575) {
            margin-bottom: 0px;
          }
        }

        .details {
          margin-left: 50px;

          @include max(1199) {
            margin-left: 25px;
          }

          @include max(767) {
            margin-left: 0px;
          }

          @include max(575) {
            margin-left: 15px;
          }
          img{
            height: 15px;
            margin-top: 5px;
          }

          h4 {
            margin-bottom: 5px;
            line-height: 20px;
            font-size: 2.1rem;

            @include max(991) {
              font-size: 1.8rem;
            }
          }

          p {
            margin-bottom: 0;
            font-size: 1.8rem;
            position: relative;

            @include max(991) {
              font-size: 1.6rem;
            }

            &::after {
              content: '';
              position: absolute;
              width: 80%;
              height: 2px;
              bottom: -2px;
              left: 0;
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}

// FAQ

.mortgage-protection-banner.testimonial_banner.faq_banner {
  .inner_banner_contnt {
    h1 {
      font-size: 4.2rem;
      width: 100%;

      @include max(767) {
        font-size: 4rem;
      }

      @include max(576) {
        font-size: 3.8rem;
        line-height: 34px;
      }
    }

    input {
      width: 560px;
      margin: 0 auto;
      height: 63px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;

      @include max(767) {
        width: 100%;
        height: 50px;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $title-dark;
        font-size: 1.6rem;
        opacity: .6;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $title-dark;
        font-size: 1.6rem;
        opacity: .6;
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $title-dark;
        font-size: 1.6rem;
        opacity: .6;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: $title-dark;
        font-size: 1.6rem;
        opacity: .6;
      }
    }
  }
}

.tabgroup {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 40px 160px;

  @include max(1599) {
    padding: 40px 100px;
  }

  @include max(1199) {
    padding: 40px 5px;
  }

  @include max(767) {
    padding: 25px 0px;
  }

  @include max(480) {
    padding: 0px 0px 25px 0px;
  }

  &__item {
    -webkit-appearance: none;
    -moz-appearance: none !important;
    left: -99999px;
    padding: 0;
    height: 0;
    width: 0;
    z-index: -100;
    outline: 0;

    &:checked {
      + .tab {
        position: relative;
        text-align: center;

        &::after {
          content: '';
          background: $primary-color;
          width: 60%;
          height: 4px;
          bottom: 0;
          right: 20%;
          position: absolute;
          opacity: 1;
        }

        h4 {
          color: $theme-blue;
        }
      }
    }

    &--1:checked ~ .panel--1,
    &--2:checked ~ .panel--2,
    &--3:checked ~ .panel--3 {
      display: block;
    }
  }

  .tab {
    text-align: center;
    float: left;
    width: 100%;
    display: block;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    display: inline-block;
    float: none;
    width: 32.6%;
    margin-bottom: 0;
    position: relative;

    @include max(991) {
      width: 32%;
    }

    @include max(480) {
      display: none;
    }

    &::after {
      content: '';
      background: #707070;
      opacity: 0.2;
      width: 60%;
      height: 4px;
      bottom: 0;
      right: 20%;
      position: absolute;
    }

    p {
      opacity: .6;
      font-size: 1.4rem;
      margin-bottom: 5px;
    }

    h4 {
      font-size: 2.5rem;
      margin-bottom: 24px;
      color: #707070;

      @include max(767) {
        margin-bottom: 15px;
        font-size: 2rem;
      }

      @include max(576) {}
    }
  }

  .panel {
    padding: 25px 70px;
    display: none;
    width: 100%;

    @include max(991) {
      padding: 25px 50px;
    }

    @include max(767) {
      padding: 15px 20px;
    }

    @include max(576) {
      padding: 5px 10px;
    }

    @include max(480) {
      display: block;
      padding: 10px 10px 10px 10px;
      max-height: 80px;
      overflow: hidden;
      border: 2px solid #828bc2;
      margin-bottom: 20px;
      border-radius: 5px;
      @include transition(all, 0.3s, ease-in-out);
      cursor: pointer;

      .panel_head {
        > span {
          &:after {
            content: '';
            position: absolute;
            width: 21px;
            height: 5px;
            background-color: #828bc2;
            right: 5px;
            top: 25px;
            @include border-radius(6px);
            @include transition(all, 0.3s, ease-in-out);

          }

          &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 15px;
            background-color: #828bc2;
            @include border-radius(6px);
            right: 13px;
            top: 20px;
            @include transition(all, 0.3s, ease-in-out);
          }
        }
      }

      &.hgt {
        max-height: 1500px;

        .panel_head {
          > span {
            &:before {
              transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              right: 13px;
              top: 20px;
            }

            &::after {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
            }
          }
        }
      }
    }


    .faq_blk {
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(149, 186, 237, 0.46);

      @include max(991) {
        padding-bottom: 25px;
      }

      .faq_ques {
        padding: 38px 50px 0px 0;
        position: relative;
        cursor: pointer;

        @include max(991) {
          padding: 25px 35px 0px 0;
        }

        p {
          color: #1B31B7;
          font-size: 2.2rem;
          font-weight: 600;
          margin-bottom: 0;

          @include max(991) {
            font-size: 2rem;
          }
        }

        span {
          &:after {
            content: '';
            position: absolute;
            width: 21px;
            height: 5px;
            background-color: #828bc2;
            right: 5px;
            top: 50px;
            @include border-radius(6px);
            @include transition(all, 0.3s, ease-in-out);

            @include max(991) {
              top: 38px;
            }

            @include max(480) {
              top: 38px;
              width: 15px;
              right: 7px;
            }
          }

          &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 21px;
            background-color: #828bc2;
            @include border-radius(6px);
            right: 13px;
            top: 42px;
            @include transition(all, 0.3s, ease-in-out);

            @include max(991) {
              top: 30px;
            }

            @include max(480) {
              top: 33px;
              height: 15px;
              right: 12px;
            }
          }
        }
      }

      .faq_ans {
        display: block;
        max-height: 0px;
        overflow: hidden;
        @include transition(all, 0.5s, ease-in-out);

        p {
          padding-top: 38px;
          margin-bottom: 0;
          line-height: 1.8;

          @include max(991) {
            padding-top: 25px;
          }
        }
      }

      &.active {
        .faq_ans {
          max-height: 500px;
        }

        .faq_ques {
          span {
            &:before {
              transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              right: 10px;
              top: 45px;
              height: 15px;

              @include max(991) {
                top: 33px;
              }

              @include max(575) {
                right: 12px;
              }
            }

            &::after {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              width: 15px;
            }
          }
        }
      }
    }

    .panel_head {
      display: none;

      @include max(480) {
        display: block;
        position: relative;

        &::after {
          content: '';
          background: #828bc2;
          ;
          width: 130px;
          height: 3px;
          bottom: -15px;
          left: 0;
          position: absolute;

          @include max(480) {
            display: none;
          }
        }
      }

      h4 {
        margin-bottom: 20px;

        @include max(480) {
          margin-bottom: 10px;
        }
      }
    }

  }
}

.home_contact.faq_contact {
  margin-top: 0;
  padding: 100px 0 100px 0;
}

// blog

.mortgage-protection-banner.testimonial_banner.blog_banner {
  .inner_banner_contnt {
    @include max(991) {
      width: 100%;
    }

    p {
      &.latst_blog {
        width: 115px;
        height: 35px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @include border-radius(3px);
        background-color: $primary-color;
        margin-bottom: 20px;
        font-size: 1.4rem;
      }

      &.insu_date {
        width: 230px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 50px;

        span {
          &:first-child {
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
          }

          &:nth-child(2) {
            opacity: .6;
          }
        }
      }
    }

    h1 {
      margin-bottom: 30px;

      @include max(480) {
        line-height: 35px;
      }

      &::after {
        display: none;
      }
    }

    a {
      justify-content: center;
      color: $white;
      font-weight: 700;

      span {
        margin-right: 10px;
      }
    }
  }
}

.blog_section {
  padding: 50px 0px;

  .filter_wrpr {
    text-align: end;
    margin-bottom: 60px;

    @include max(991) {
      margin-bottom: 30px;
    }

    .selectric-wrapper {
      position: relative;
      cursor: pointer;
      width: 260px;
      display: inline-block;
      text-align: initial;
      height: 63px;

      @include max(991) {
        height: 50px;
      }

      @include max(420) {
        width: 100%;
      }

      .selectric {
        border: 1px solid #637AFA;
        background: #EFF1FF;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: #081774;
        font-weight: 600;

        @include max(991) {
          height: 50px;
        }
      }

      .selectric .button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 61px;
        line-height: 38px;
        background-color: #081774;
        color: $white;
        text-align: center;

        @include max(991) {
          height: 50px;
        }
      }

      .selectric .button:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #fff;
        border-bottom: none;
      }

      .selectric .label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin: 0 50px 0 10px;
        font-size: 1.8rem;
        line-height: 38px;
        color: #081774;
        font-weight: 400;
        height: 38px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  .blog_wrpr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;

    @include max(991) {
      padding: 0 0px;
    }

    @include max(480) {
      padding: 0 25px;
    }

    @include max(420) {
      padding: 0 0px;
    }

    > a.blog_blk {
      max-width: calc(33.33% - 40px);
      flex: 0 0 calc(33.33% - 40px);
      margin-right: 60px;
      margin-bottom: 60px;

      &:nth-child(3n) {
        margin-right: 0px;

        @include max(767) {
          margin-right: 30px;
        }

        @include max(480) {
          margin-right: 0px;
        }
      }

      &:nth-child(2n) {
        @include max(767) {
          margin-right: 0px;
        }

      }

      @include max(991) {
        max-width: calc(33.33% - 20px);
        flex: 0 0 calc(33.33% - 20px);
        margin-right: 30px;
        margin-bottom: 30px;
      }

      @include max(767) {
        max-width: calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);
        margin-right: 30px;
        margin-bottom: 30px;
      }

      @include max(480) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-right: 0px;
        margin-bottom: 30px;
      }

      img {
        margin-bottom: 25px;

        @include max(480) {
          margin-bottom: 15px;
        }
      }

      p.blog_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @include max(991) {
          margin-bottom: 7px;
        }

        span {
          &:first-child {
            width: 113px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            color: $primary-color;
            border: 1px solid $primary-color;
            @include border-radius(3px);
            font-size: 1.2rem;
            font-weight: 600;
            @include max(991) {
              margin-bottom: 7px;
            }
          }

          &:nth-child(2) {
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }

      h4 {
        font-size: 2.2rem;

        @include max(991) {
          font-size: 2rem;
        }
      }
    }

    .blog_btn {
      > a {
        height: 70px;
        display: flex;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        border: 1px solid #25A9DE;
        z-index: 0;
        width: 315px;
        font-weight: 700;

        @include max(991) {
          width: 280px;
          height: 50px;
        }

        &.animate-btn {
          color: $white;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

// pension

.mortgage-protection-banner.pension_banner {
  height: 990px;
  margin-top: -138px;
  background-repeat: no-repeat;
  background-position-x: 100%;

  @include max(1599) {
    margin-top: -225px;
  }

  @include max(1199) {
    margin-top: -260px;
    background-position-x: 0%;
  }

  @include max(991) {
    margin-top: -330px;
    background-position-x: -40%;
  }

  @include max(767) {
    margin-top: -330px;
    background-position-x: 15%;
  }

  @include max(575) {
    margin-top: -280px;
  }

  .pension_banner_contnt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max(575) {
      flex-direction: column-reverse;
    }

    .pension_cntnt {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(575) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      h1 {
        width: 70%;
        margin-bottom: 60px;
        line-height: 45px;
        color: $title-dark;
        font-size: 4.5rem;

        @include max(1199) {
          width: 100%;
          font-size: 3.8rem;
          line-height: 40px;
          margin-bottom: 30px;
        }

        @include max(767) {
          line-height: 30px;
          margin-bottom: 25px;
        }

        @include max(575) {
          line-height: 30px;
          margin-bottom: 20px;
          font-size: 3rem;
        }
      }

      p {
        width: 70%;
        margin-bottom: 36px;
        line-height: 29px;
        color: $secondary-color;
        font-size: 1.8rem;

        @include max(1199) {
          width: 100%;
          font-size: 1.4rem;
        }

        @include max(767) {
          line-height: 18px;
          margin-bottom: 25px;
        }

        @include max(575) {
          line-height: 18px;
          margin-bottom: 20px;
        }
      }

      .pension_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;

        @include max(1599) {
          width: 90%;
        }

        @include max(1199) {
          width: 100%;
        }

        a {
          width: 230px;
          height: 70px;
          @include border-radius(6px);
          border: 1px solid $primary-color;
          font-weight: 600;

          @include max(1199) {
            width: 200px;
            height: 50px;
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }

          &:first-child {
            &:hover {
              color: $primary-color;
            }
          }

          // &:last-child {
          //     color: $primary-color;

          //     &:hover {
          //         color: $white;
          //     }
          // }
        }
      }
    }

    .pension_img {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(1199) {
        max-width: 55%;
        flex: 0 0 55%;
      }

      @include max(1024) {
        max-width: 53%;
        flex: 0 0 53%;
      }

      @include max(991) {
        max-width: 55%;
        flex: 0 0 55%;
      }

      @include max(575) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 25px;
      }
    }
  }
}

.pension_service {
  text-align: center;
  margin-top: -100px;
  position: relative;
  margin-bottom: 140px;

  @include max(1599) {
    margin-bottom: 100px;
  }

  @include max(1199) {
    margin-top: -200px;
  }

  @include max(991) {
    margin-bottom: 50px;
    margin-top: -270px;
  }

  @include max(575) {
    margin-top: -200px;
  }

  .fl-container {
    > h4 {
      color: $title-dark;
      font-size: 3.8rem;
      margin-bottom: 45px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 4px;
        background-color: $primary-color;
        top: -35px;
        left: calc(50% - 16px);

        @include max(575) {
          top: -20px;
        }
      }

      @include max(991) {
        margin-bottom: 25px;
      }

      @include max(575) {
        margin-bottom: 20px;
        font-size: 3rem;
      }
    }

    > p {
      font-size: 1.6rem;
      opacity: .6;
      color: #1E325F;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 115px;

      @include max(991) {
        margin-bottom: 50px;
        width: 100%;
      }
    }

    .types_pension {
      // position: relative;  
      display: flex;
      flex-wrap: wrap;

      .pension_right {
        max-width: calc(50% - 48px);
        flex: 0 0 calc(50% - 48px);
        margin-right: 96px;

        @include max(991) {
          max-width: calc(50% - 25px);
          flex: 0 0 calc(50% - 25px);
          margin-right: 50px;

        }

        @include max(575) {
          max-width: 100%;
          flex: 0 0 100%;
          margin-right: 0px;
          margin-bottom: 25px;
        }
      }

      .pension_left {
        max-width: calc(50% - 48px);
        flex: 0 0 calc(50% - 48px);
        margin-right: 0px;

        @include max(991) {
          max-width: calc(50% - 25px);
          flex: 0 0 calc(50% - 25px);
        }

        @include max(575) {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }

      > img {
        position: absolute;
        top: 165px;
        left: 32%;
        z-index: -1;
        width: 700px;
        max-width: 700px;

        @include max(1199) {
          left: 10%;
        }

        @include max(991) {
          left: 20%;
          top: 20%;
          width: 600px;
          max-width: 600px;
        }

        @include max(767) {
          left: 8%;
          top: 20%;
          width: 500px;
          max-width: 500px;
        }

        @include max(575) {
          left: 4%;
          top: 35%;
          width: 300px;
          max-width: 300px;
        }
      }

      .pension_blk {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 30px 0px;
        background-color: $bg-common-color;
        margin-right: 0px;
        margin-bottom: 65px;
        @include border-radius(15px);
        max-height: 134px;
        @include transition(all, 0.5s, ease-in-out);
        overflow: hidden;

        @include max(991) {
          margin-bottom: 50px;
          max-height: 105px;
        }

        @include max(575) {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:nth-child(odd) {
          margin-right: 0px;
        }

        .pension_head {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 35px;
          position: relative;
          padding: 0 80px;
          cursor: pointer;

          @include max(991) {
            padding: 0 20px;
            margin-bottom: 30px;
          }

          > h4 {
            color: $primary-color;
            font-size: 2.3rem;
            margin-bottom: 0;
            margin-left: 35px;
            opacity: 1;
            @include transition(all, 0.5s, ease-in-out);

            @include max(991) {
              margin-left: 15px;
              font-size: 2rem;
              text-align: left;
            }
          }

          img {
            width: 102px;
            height: 75px;

            @include max(991) {
              height: 50px;
              width: 50px;
            }
          }

          span {
            &:after {
              content: '';
              position: absolute;
              width: 21px;
              height: 5px;
              background-color: #828bc2;
              right: 35px;
              top: 38px;
              @include border-radius(6px);
              @include transition(all, 0.5s, ease-in-out);

              @include max(991) {
                right: 12px;
                top: 23px;
              }

            }

            &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 21px;
              background-color: #828bc2;
              @include border-radius(6px);
              right: 43px;
              top: 30px;
              @include transition(all, 0.5s, ease-in-out);

              @include max(991) {
                right: 20px;
                top: 15px;
              }
            }
          }
        }

        .pension_details {
          padding: 0 80px;
          display: flex;
          flex-direction: column;
          align-items: baseline;

          @include max(991) {
            padding: 0 40px;
          }

          @include max(767) {
            padding: 0 20px;
          }

          h4 {
            color: $title-dark;
            font-size: 2.5rem;
            margin-bottom: 25px;
            line-height: 1;
          }

          p {
            text-align: justify;
          }
        }

        &.active1 {
          max-height: 500px;
          padding: 65px 0px;

          @include max(991) {
            padding: 25px 0px;
          }

          .pension_head {
            h4 {
              opacity: 0;
            }
          }

          .pension_head {
            span {
              &:before {
                transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
              }

              &::after {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

.pension_ftr {
  padding: 132px 0;
  background-color: $bg-common-color;

  @include max(1199) {
    padding: 100px 0;
  }

  @include max(991) {
    padding: 60px 0;
  }

  @include max(575) {
    padding: 30px 0;
  }

  .pension_ftr_wrpr {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;

    @include max(991) {
      padding: 0px;
    }

    @include max(575) {
      flex-direction: column;
    }

    .blue_blk {
      padding: 70px 75px;
      max-width: calc(50% - 60px);
      flex: calc(50% - 60px);
      margin-right: 122px;
      background-color: $primary-color;
      @include border-radius(15px);
      opacity: .78;

      @include max(1199) {
        padding: 40px 45px;
        max-width: calc(50% - 25px);
        flex: calc(50% - 25px);
        margin-right: 50px;
      }

      @include max(575) {
        padding: 40px 45px;
        max-width: 100%;
        flex: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
      }

      @include max(767) {
        padding: 20px;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      h4 {
        color: $white;
        font-size: 3.2rem;
        line-height: 35px;
        width: 80%;
        margin-bottom: 35px;

        @include max(1199) {
          width: 100%;
        }

        @include max(991) {
          font-size: 2.8rem;
        }

        @include max(767) {
          font-size: 2.4rem;
          margin-bottom: 20px;
          line-height: 25px;
        }
      }

      a {
        width: 230px;
        height: 70px;
        background: $white;
        z-index: 0;
        border: 1px solid $white;
        @include border-radius(7px);

        @include max(991) {
          width: 200px;
          height: 50px;
        }

        @include max(767) {
          width: auto;
        }

        &:last-child {
          color: $primary-color;
          opacity: 1;
          font-weight: 600;

          &:hover {
            color: $white;
          }
        }
      }
    }

    .theme_blue_blk {
      padding: 70px 75px;
      max-width: calc(50% - 60px);
      flex: calc(50% - 60px);
      margin-right: 0px;
      background-color: $theme-blue;
      @include border-radius(15px);
      opacity: .78;

      @include max(1199) {
        padding: 40px 45px;
        max-width: calc(50% - 25px);
        flex: calc(50% - 25px);
      }

      @include max(575) {
        padding: 40px 45px;
        max-width: 100%;
        flex: 100%;
        margin-right: 0px;
      }

      @include max(767) {
        padding: 20px;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      h4 {
        color: $white;
        font-size: 3.2rem;
        line-height: 35px;
        width: 80%;
        margin-bottom: 35px;

        @include max(1199) {
          width: 100%;
        }

        @include max(991) {
          font-size: 2.8rem;
        }

        @include max(767) {
          font-size: 2.4rem;
          margin-bottom: 20px;
          line-height: 25px;
        }
      }

      a {
        width: 230px;
        height: 70px;
        background: $white;
        z-index: 0;
        border: 1px solid $white;
        font-weight: 600;
        color: #3d4992;
        @include border-radius(7px);

        @include max(991) {
          width: 200px;
          height: 50px;
        }

        @include max(767) {
          width: auto;
        }

        &:hover {
          color: $white;
        }

        &.animate-btn span {
          background-color: #3d4992;
          opacity: 1;
        }
      }
    }
  }
}

// privacy and terms

.privacy_wrpr {
  padding-top: 85px;
  background-color: $bg-common-color;
  padding-bottom: 70px;

  @include max(1199) {
    margin-top: -20px;
    padding-bottom: 50px;
  }

  @include max(991) {
    padding-bottom: 30px;
    padding-top: 50px;
  }

  .privcy {
    padding: 0 140px;

    @include max(991) {
      padding: 0 70px;
    }

    @include max(767) {
      padding: 0 0px;
    }

    h1 {
      font-size: 3.8rem;
      color: $title-dark;
      font-weight: 600;
      margin-bottom: 35px;
      position: relative;
      font-family: arial;
      width: 86%;

      &:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 4px;
        background-color: $primary-color;
        top: -30px;
        left: 0;
      }

      @include max(991) {
        font-size: 40px;
        width: 100%;
      }

      @include max(767) {
        font-size: 35px;
      }

      @include max(575) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 1.7rem;
      font-weight: 400;
      margin-bottom: 30px;
      width: 100%;

      @include max(575) {
        margin-bottom: 20px;
        font-weight: 400;
      }

      &.blue {
        color: $theme-blue;
        font-weight: 700;
      }

      b {
        font-weight: 600;
        color: $black;
      }
    }
  }
}

// sucess-page

.sucess_wrpr {
  padding-top: 150px;
  background-color: $bg-common-color;
  padding-bottom: 150px;

  @include max(1199) {
    margin-top: -20px;
    padding-bottom: 50px;
  }

  @include max(991) {
    padding-bottom: 30px;
    padding-top: 50px;
  }

  @include max(767) {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .sucess {
    padding: 0 70px;
    display: flex;
    align-items: center;

    @include max(991) {
      padding: 0 70px;
    }

    @include max(767) {
      padding: 0 0px;
      flex-direction: column-reverse;
    }

    .sucess_left {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(767) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      h1 {
        font-size: 3.8rem;
        color: $title-dark;
        font-weight: 600;
        margin-bottom: 35px;
        position: relative;
        font-family: arial;
        width: 75%;

        @include max(1199) {
          font-size: 40px;
          width: 100%;
        }

        @include max(767) {
          font-size: 35px;
        }

        @include max(575) {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }

      p {
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 30px;
        width: 75%;
        color: $title-color;

        @include max(1199) {
          width: 100%;
        }

        @include max(575) {
          margin-bottom: 20px;
          font-weight: 400;
        }
      }

      a {
        width: 218px;
        height: 70px;
        background: transparent;
        z-index: 0;
        border: 1px solid $primary-color;
        @include border-radius(7px);
        color: $primary-color;
        font-weight: 600;

        @include max(1199) {
          width: 200px;
          height: 50px;
        }

        @include max(767) {
          width: 200px;
        }

        &:hover {
          color: $white;
        }
      }
    }

    .sucess_right {
      max-width: 50%;
      flex: 0 0 50%;

      @include max(767) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 50px;
      }
    }
  }
}

// investment_banner

.investment_banner {
  height: 453px;

  @include max(991) {
    height: 353px;
  }

  .inner_banner_contnt {
    .banner_data {
      max-width: 100%;
      flex: 0 0 100%;

      h1 {
        margin-bottom: 35px;
        width: 100%;
        text-align: center;
        line-height: 35px;

        @include max(575) {
          margin-bottom: 10px;
        }

        &::after {
          top: -30px;
          left: calc(50% - 32px);

          @include max(575) {
            top: -10px;
            left: calc(50% - 20px);
          }
        }
      }

      p {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        line-height: 15px;
        opacity: .59;

        @include max(575) {
          margin-bottom: 0;
          line-height: 20px;
        }
      }
    }
  }
}

.investment_ex.mpi-section .fl-container .mpi_wrpr {
  .mpi_contnt_wrpr {
    padding: 0 90px 0 95px;

    @include max(1599) {
      padding: 0 10px 0 50px;
    }

    @include max(767) {
      padding: 0 0px 0 10px;
    }

    h3 {
      margin-bottom: 50px;

      @include max(1199) {
        margin-bottom: 25px;
      }
    }

    ul {
      padding-bottom: 45px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.1);

      @include max(1199) {
        padding-bottom: 30px;
        margin-bottom: 30px;
      }

      li {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        @include max(1199) {
          margin-bottom: 20px;
        }

        @include max(575) {
          margin-bottom: 15px;
        }

        span {
          @include max(991) {
            position: absolute;
          }
        }

        b {
          line-height: 20px;

          @include max(1199) {
            font-size: 19px;
          }

          @include max(991) {
            display: block;
            padding-left: 30px;
          }

          @include max(575) {
            font-size: 16px;
          }
        }
      }
    }

    p {
      margin-bottom: 40px;
      padding: 0;
      border: none;
      line-height: 25px;

      @include max(1599) {
        margin-bottom: 25px;
      }

      @include max(767) {
        margin-bottom: 10px;
      }
    }
  }
}


// mortgages
.mortgages {
  .is-floating-label {
    position: relative;

    label {
      @include max(575) {
        left: 15px !important;
        font-size: 13px !important;
        padding-top: 10px !important;

      }
    }

    .selectric {
      .label {
        @include max(575) {
          font-size: 13px !important;
          margin: 0 38px 0 15px !important;
        }
      }
    }

    &.is-focused {
      label {
        @include max(575) {
          top: 6px !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100px !important;
        }
      }
    }
  }

  .mort-popup .popup_contnt .radio-label {
    flex-wrap: wrap;

    p {
      @include max(575) {
        max-width: 100%;
        flex: 0 0 100%;

        &:first-child {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }

  .single_applicant {
    h4 {
      margin-bottom: 25px;
      font-size: 2rem;
    }

    h3 {
      font-size: 2.2rem;
      opacity: 0.47;
      margin-bottom: 35px;
      font-weight: 600;
      line-height: 22px;

      @include max(767) {
        margin-bottom: 20px;
      }
    }
  }

  .second_applicant {
    padding-bottom: 20px;
    margin-bottom: 40px;
    max-height: 90px;
    overflow: hidden;
    @include transition(all, 0.5s, ease-in-out);

    @include max(991) {
      margin-bottom: 20px;
    }

    @include max(767) {
      max-height: 60px;
    }

    @include max(575) {
      max-height: 75px;
    }

    p {
      color: #081774;
      font-weight: 600;
      font-size: 1.8rem;
      padding: 22px 35px;
      position: relative;
      border: 1px solid #BEC6F4;
      @include border-radius(6px);
      margin-bottom: 30px;
      line-height: 18px;
      @include transition(all, 0.3s, ease-in-out);
      cursor: pointer;

      @include max(767) {
        padding: 15px 35px;
      }

      @include max(575) {
        padding: 15px 35px 15px 10px;
      }

      > span {
        &:after {
          content: '';
          position: absolute;
          width: 21px;
          height: 3px;
          background-color: #828bc2;
          right: 21px;
          top: 28px;
          @include border-radius(6px);
          @include transition(all, 0.3s, ease-in-out);

          @include max(767) {
            top: 26px;
          }

          @include max(575) {
            right: 11px;
          }

        }

        &:before {
          content: '';
          position: absolute;
          width: 3px;
          height: 15px;
          background-color: #828bc2;
          @include border-radius(6px);
          right: 30px;
          top: 22px;
          @include transition(all, 0.3s, ease-in-out);

          @include max(767) {
            top: 20px;
          }

          @include max(575) {
            right: 20px;
          }
        }
      }

    }

    .is-floating-label {
      position: relative;

      label {
        @include max(575) {
          left: 15px;
        }
      }

      &:last-child {
        &:after {
          content: '';
          position: absolute;
          border-bottom: 2px solid $title-color;
          border-bottom-style: dashed;
          width: 100%;
          bottom: -40px;
        }
      }
    }

    &.show {
      max-height: 1000px;

      p {
        background-color: #F4F8FF;

        span {
          &:before {
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            right: 30px;
            top: 22px;

            @include max(767) {
              right: 27px;
              top: 20px;
            }

            @include max(575) {
              right: 17px;
            }

          }

          &::after {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            width: 15px;
          }
        }
      }
    }
  }

  .termandcodtn_wrpr {
    padding: 50px 0;
    border: 2px solid $title-color;
    border-style: dashed;
    border-left: 0;
    border-right: 0;

    @include max(767) {
      padding: 35px 0;
    }

    @include max(575) {
      padding: 25px 0;
    }

    .condtn_wrpr {
      margin-bottom: 0;

      .chk_box {
        .cutm_chk {
          padding-left: 50px;

          @include max(767) {
            padding-left: 35px;
          }
        }
      }

      p {
        width: 96%;
        color: $title-color;
      }
    }
  }
}

.decltion_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  @include max(767) {
    margin-top: 20px;
  }

  @include max(575) {
    flex-direction: column;
  }

  img {
    @include max(767) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @include max(575) {
      margin-bottom: 20px;
    }
  }

  a {
    width: 270px;
    height: 63px;
    border: 1px solid $primary-color;
    @include border-radius(6px);
    font-weight: 600;

    @include max(767) {
      height: 50px;
    }

    &.animate-btn.blue {
      &:hover {
        color: $primary-color;
      }
    }
  }
}


.banner_contnt .banner-slider .banner-slide-item .banner-ttle h1 {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 100);
  -moz-transform: matrix(1, 0, 0, 1, 0, 100);
  -ms-transform: matrix(1, 0, 0, 1, 0, 100);
  transform: matrix(1, 0, 0, 1, 0, 100);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 0;
}

.banner_contnt .banner-slider .banner-slide-item.slick-current.slick-active .banner-ttle h1 {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1 !important;
}

.investment_wrap {
  .mortgage-protection-banner {
    &.testimonial_banner {
      height: 250px;
    }
  }
}

.mission_vision-wrap {
  background: transparent;
  padding: 0 0 50px;

  @include max(991) {
    padding: 50px 0;
  }

  .cover-slider {
    .slick-slide {
      min-height: 270px !important;
    }

    .cover_item {
      img {
        max-width: 100px;
      }
    }
  }

  h3 {
    padding: 40px 0;

    &:after {
      top: 0;
    }
  }
}



.single_joint-dual-cover {
  padding: 100px 0 0;

  @include max(991) {
    padding: 100px 0;
  }

  @include max(767) {
    padding: 50px 30px;
  }


  .fl-container {
    padding: 0 250px;
    text-align: center;

    @include max(991) {
      padding: 0;
    }
  }

  h3 {
    color: $title-dark;
    font-size: 38px;
    font-weight: 600;
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;

    &:after {
      position: absolute;
      content: '';
      width: 32px;
      height: 4px;
      background-color: $primary-color;
      top: -45px;
      left: calc(50% - 32px);

      @include max(991) {
        top: -25px;
      }
    }

    @include max(1199) {
      font-size: 34px;
      margin-bottom: 40px;
    }

    @include max(1199) {
      font-size: 29px;
      margin-bottom: 25px;
    }

    @include max(575) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  p {
    color: rgba(30, 50, 95, 0.58);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 90px;

    @include max(1199) {
      margin-bottom: 50px;
    }

    @include max(991) {
      margin-bottom: 5px;
    }
  }

  &.type_insurance_section {
    background: #f3f7fb;
    padding: 100px 0 100px;

    .fl-container {
      
      p{
        // text-align: left;
        margin-bottom: 70px;
        
      }
      a{
        background-color: #25a9de ;
        color: #ffffff !important;
        // padding: 10px 15px;
        // border-radius: 10px;
        // border: 1px solid #25a9de;
        height: 70px;
        width: 313px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        border: 1px solid #25A9DE;
        z-index: 0;
        font-weight: 700;
        margin: 0 auto;
        &:visited{
          color: #ffffff !important
        }
        &:hover{
          color: #2d3079 !important;
          background-color: #ffffff;
          border: 1px solid #2d3079;
        }
      }

      @include max(991) {
        padding: 0 25px;
      }
    }

    .types_life_insurance-data {
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding-bottom: 50px;
      position: relative;

      @include max(991) {
        display: block;
        // &:nth-child(odd){
        //   display: flex !important;
        //   .mpi_content_wrpr{
        //     order: 3;
        //   }
        // }
        
      }

      @include max(767) {
        padding-bottom: 20px;
      }

      p {
        margin-bottom: 50px;
        font-size: 17px;
        color: #585858;
      }

      ul {
        li {
          list-style: disc;
          margin-bottom: 10px;
          color: #585858;
        }
      }

      h4 {
        text-align: left;
        margin-bottom: 20px;
      }

      .mpi_img_wrpr {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 25px;

        @include max(991) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        img {
          border-radius: 5px;

          @include max(991) {
            width: 100%;
          }
        }
      }

      .mpi_content_wrpr {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 25px;
        

        @include max(991) {
          max-width: 100%;
          flex: 0 0 100%;
          // &:nth-child(odd) {
          //   // .mpi_img_wrpr {
          //     order: 3;
               
          //   // }
          // }
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background: #e1e8ea;
        width: 460px;
        height: 1px;
        bottom: 0;
        margin: 0 auto;

        @include max(767) {
          content: none;
        }
      }

      &:nth-child(odd) {
        .mpi_img_wrpr {
          order: 2;
           
        }
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }


  }
}
