
.btn-grp {
	.btn {
		margin: 0 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.btn {
	position: relative;
	font-size:  1.6rem;
	box-shadow: none;
	border: none;
	background-color: $primary-color;
	display: inline-flex;
	-webkit-display: inline-flex;
	align-items: center;
	@include justify-content(center);
	color: $white;
	@include border-radius(4px);
	@include font-medium();
	padding: 0 30px;
	text-decoration: none;
	
	&:hover {
		background-color: $white;
		color: $primary-color;
	}	
	&.primary {
		background:$primary-color;
		color: $white;
		&:hover {
			color: $white;
		}
	}
	&.btn-md {
		min-height: 50px;
		font-size: 1.4rem;
		// @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
		// 	padding-top: 14px!important;
		// }

	} 
	&.btn-sm {
		min-height: 35px;
		font-size: 1.4rem;
		// @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
		// 	padding-top: 6px!important;
		// }
	} 
	&.btn-lg {
		min-height: 60px;
		font-size: 1.6rem;
		// @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
		// 	padding-top: 20px;
		// }
		@include max(1450) {
			min-height: 60px;
			font-size: 1.5rem;
		}
		@include max(1199) {
			min-height: 50px;
			font-size: 1.3rem;
		}
		@include max(767) {
			min-height: 40px;
			font-size: 1.1rem;
		}
	}
	&.btn-icon  {
		position: relative;
		padding-left: 50px;
		img,svg {
			position: absolute;
			width: 22px;
			height: 22px;
			left: 15px;
			fill: $white;
			@include transition(all,ease-in-out,0.3s);
		}
		&:hover{
			svg{
				fill: $primary-color !important;
			}
		}
	}


	&.styled {
		border: 1px solid $primary-color;
		background:transparent;
		color: $primary-color;
		font-size: 1.4rem;
		padding: 0 25px;
		&:hover{
			background-color: $primary-color;
			color: #fff;
			opacity: 1;
		}
	
	}

	&.full-width {
		width: 100%;
		text-align: center;
	}
	
}




