@include min(1200) {
	.desk-hide {
		display: none;
	}

	.main-nav {
		>ul {
			margin: 0;
			padding: 0;

			>li {
				display: inline-block;
				position: relative;
				padding-right: 17px;
				padding-left: 17px;

				&.submenu i {
					position: absolute;
					width: 37px;
					height: 33px;
					top: 3px;
					right: 0;
					cursor: pointer;
					-webkit-transition: all ease 0.5s;
					-moz-transition: all ease 0.5s;
					-o-transition: all ease 0.5s;
					transition: all ease 0.5s;
				}

				&.submenu i:after {
					content: "";
					height: 0;
					width: 0;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 7px solid #b3b3b3;
					position: absolute;
					right: 17px;
					top: 14px;
					z-index: 10;
				}

				&:last-child {
					margin: 0;

					ul {
						left: auto;
						right: 0;
					}
				}

				>a {
					display: block;
					padding: 12px 15px;
					padding-left: 0;
					padding-right: 0;
					text-decoration: none;
					position: relative;
					color: $text-color;

					&:after {
						position: absolute;
						content: '';
						width: 0;
						left: 0;
						bottom: 0;
						height: 3px;
						background: #F93549;
						@include transition(all, ease, 0.5s);

					}
				}

				&:hover {
					>a {
						@include transition(all, ease, 0.5s);

						&:after {
							width: 50px;
						}
					}

					>ul {
						// display: block;
						opacity: 1;
						pointer-events: all;
						margin-top: 0;
					}
				}

				ul {
					background: $white;
					position: absolute;
					margin: 0;
					padding: 0;
					width: 250px;
					// display: none;
					margin-top: 35px;
					opacity: 0;
					pointer-events: none;
					@include transition(all, ease, 0.5s);
					box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09), 0 0 20px 0px rgba(0, 0, 0, 0.19);

					li {
						display: block;
						border-bottom: 1px solid #ccc;
						position: relative;

						&:last-child {
							border: 0;
						}

						a {
							font-size: 0.9rem;
							padding: 8px 20px;
							display: block;
							text-decoration: none;
						}

						&:hover {
							>ul {
								display: block;
								left: 250px;
								top: 0;
							}

							>a {
								color: $primary-color;
							}
						}

						&.submenu {
							&::after {
								content: "\e807";
								font-family: $icons;
								position: absolute;
								right: 12px;
								top: 50%;
								transform: translateY(-50%);
								pointer-events: none;
								color: $primary-color;
								font-size: 10px;
							}
						}
					}
				}

				&.mob_class {
					display: none;
				}
			}
		}
	}

	.mob-btn {
		display: none;
	}
}

@include max(1199.98) {

	/*==== Menu ====*/
	.main-nav {

		// position: fixed;
		// max-width: 260px;
		// top: 0;
		// right: 0;
		// background: #333;
		// height: 100%;
		// @include transition(all,ease-in-out,0.3s);
		// z-index: 99999;
		// box-shadow: inset 0 0 4px rgba(#000, 0.7);
		// width: 100%;
		// height: 100%;
		// overflow: auto;
		// opacity: 0;
		// -webkit-transform: scaleY(0);
		// -ms-transform: scaleY(0);
		// transform: scaleY(0);
		// -webkit-transition: opacity .3s ease-in,transfrom .3s ease-out;
		// -o-transition: opacity .3s ease-in,transfrom .3s ease-out;
		// transition: opacity .3s ease-in,transfrom .3s ease-out;
		ul {
			margin: 0;
			padding: 0;
			display: block;
			margin-top: 0px;

			&.mnav {
				margin-bottom: 30px;
			}

			li {
				display: block;
				// border-bottom: 1px solid #656b74;
				position: relative;
				text-transform: capitalize;
				font-size: 13px;

				span {
					display: none;
				}

				a {
					color: $black;
					text-decoration: none;
					font-size: 18px;
					display: block;
					padding: 10px;
					padding-right: 40px;

					&:hover {

						// background: #2D2D2D;
						@include max(1199) {
							background: unset;
						}
					}
				}

				&.submenu i {
					position: absolute;
					width: 43px;
					height: 39px;
					top: 0;
					right: 0;
					cursor: pointer;
					-webkit-transition: all ease 0.5s;
					-moz-transition: all ease 0.5s;
					transition: all ease 0.5s;

					&:after {
						content: "";
						@include triangle(6px 6px, darken($white, 30%), down);
						position: absolute;
						right: 17px;
						top: 18px;
						z-index: 10;
					}
				}

				&.submenu a {
					color: $black !important;
				}
				&.submenu>a {
					pointer-events: none;
				}
				&.mob_class {
					display: block;
					opacity: 0;

					&:first-child {
						margin-bottom: 25px;
					}

					a {
						padding-right: 15px;
					}
				}

				&:nth-child(6) {
					display: flex;
					margin-top: 25px;
					flex-direction: column;
					text-align: center;

					img {
						filter: invert(1);
						-webkit-filter: invert(1);
					}

					a {
						@include border-radius(7px);
						height: 40px;
						padding: 10px 15px;
						line-height: initial;
						font-size: 16px;
						border: 1px solid $primary-color;
						z-index: 0;
						cursor: pointer;

						&.animate-btn {
							z-index: 9;
						}

						&:first-child {
							margin-bottom: 15px;

							&:hover {
								background-color: $primary-color;
								color: $white;
							}
						}

						&:last-child {
							&:hover {
								border: 1px solid $primary-color;
							}
						}
					}
				}

				&:nth-child(7) {
					display: flex;
					margin-top: 15px;
					align-items: center;
					justify-content: center;
				}
			}

			ul {
				display: none;

				&:last-child {
					border-bottom: 0;
				}

				&:first-child {
					// border-top: 1px solid #656b74;
				}

				a {
					padding-left: 20px;
				}

				ul a {
					padding-left: 30px;
				}
			}

			// }
		}
	}

	.show-menu {
		.main-nav {
			opacity: 1;
			-webkit-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			transform: scale(1, 1);
		}

		// .overlay {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: rgba(#000, 0.3);
		// 	z-index: 1001;
		// }
	}

	.mob-btn {
		position: absolute;
		float: right;
		padding: 5px 7px;
		margin: 0px;
		background-color: transparent;
		cursor: pointer;
		right: 15px;
		top: 33px;

		@include max(991.98) {
			top: 28px;
		}

		@include max(767.98) {
			top: 30px;
		}

		span {
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 1px;
			background: $black;
		}

		span+span {
			margin-top: 5px;
		}
	}
}